﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";

}
@*<div class="section-full bg-white content-inner">
    <div class="container">
        <div class="section-content">
            <div class="row">*@
                <!-- inner page banner -->
                <div class="rdx-bnr-inr overlay-black-middle" style="background-image:url(images/background/Education-Mat.jpg);">
                    <div class="container">
                        <div class="rdx-bnr-inr-entry text-center">
                            <p style="font-size:52px;font-weight:700" class="text-white"> Education Materials </p>
                        </div>
                    </div>
                </div>
                <!-- inner page banner END -->
                <!-- Breadcrumb row -->
                @*<div class="row">
                <div class="breadcrumb-row">
                    <div class="container">
                        <ul class="list-inline">
                            <li><a href="#">Home</a></li>
                            <li>Products</li>
                        </ul>
                    </div>
                </div>
            </div>*@
                <!-- Breadcrumb row END -->
                <!-- contact area -->
                <div class="content-area">
                    <!-- Product -->
                    <div class="container">
                        <div class="row">
                            @if (Model != null)
                            {
                                for (int i = 0; i < Model.Count; i++)
                                {
                                    <div class="col-lg-4 col-md-4 col-sm-6 m-b30">
                                        <div class="rdx-box p-a20 border-1 bg-gray">
                                            <div class="rdx-thum-bx rdx-img-overlay1 rdx-img-effect zoom">
                                                <img src="images/product/@Html.Raw(Model[i].ProductImage)" alt="">
                                                <div class="overlay-bx">
                                                    <div class="overlay-icon"> 
                                                        <a href='@Url.Action("Add", "Cart", new {id = Model[i].Id.Trim()})'> 
                                                            <i class="fa fa-cart-plus icon-bx-xs"></i> 
                                                            </a> 
                                                        <a href="javascript:void(0)">
                                                            <i class="fa fa-search icon-bx-xs"></i> 
                                                        </a> 
                                                        <a href="javascript:void(0)"> 
                                                            <i class="fa fa-heart icon-bx-xs"></i>
                                                        </a> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="rdx-info p-t20 text-center">
                                                <h4 class="rdx-title m-t0 m-b5 text-uppercase"><a href='@Url.Action("ProductDetails", "Products", new { id = Model[i].Id })'>@Model[i].ProductName</a></h4>
                                                <h4 class="m-b0 font-weight-700 text-black">$@Model[i].ProductPrice </h4>
                                                @*<a href="javascript:void(0)" class="site-button m-t15">Buy Now</a>*@

                                                @Html.ActionLink("Details", "ProductDetails", "Products", new { id = Model[i].Id }, new { @class = "site-button m-t15" })
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <!-- Product END -->
                </div>
                <!-- contact area  END -->


                <br />

                @*<iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=fznarflsc&bgcolor=EEEEEE&t=1546067953"
            width="100%" height="900px" seamless="seamless" scrolling="no" frameBorder="0" allowFullScreen></iframe>*@

            @*</div>
        </div>
    </div>
</div>*@