﻿@model WebApplication2.Models.StripePaymentDetails

@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="section-full bg-white content-inner">
    <div class="container">
        <div class="section-content">
            <div class="card-container">
                <div class="">
                    <div class="row">
                        <p style="margin-left:20px;font-size:24px;color:black;"><strong>Pay With</strong></p>
                        <div class="rdx-accordion bg-title no-cover faq-block col-md-12 col-lg-12" id="accordion5">
                            <div class="panel">
                                <div class="acod-head">
                                    <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseOne5"><i class="fa fa-circle"></i> Credit or Debit Card</a> </h5>
                                </div>
                                <div id="collapseOne5" class="acod-body collapse show" data-parent="#accordion5">
                                    <div class="acod-content">
                                        <label style="font-size:20px;">Amount : $@(Model.Amount / 100)</label><br />
                                        <label style="font-size:56px;">
                                            <i class="fa fa-cc-mastercard"></i>
                                            <i class="fa fa-cc-visa"></i>
                                            <i class="fa fa-cc-amex"></i>
                                        </label><br />
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="acod-head">
                                    <h5 class="acod-title"> 
                                    <a data-toggle="collapse" href="#collapseTwo5" class="collapsed">
                                        <i class="fa fa-circle"></i> Paypal </a> </h5>
                                </div>
                                <div id="collapseTwo5" class="acod-body collapse" data-parent="#accordion5">
                                    <div class="acod-content">
                                        <label style="font-size:20px;">Amount : $@(Model.Amount / 100)</label><br />
                                        <label style="font-size:56px;">
                                            <i class="fa fa-cc-paypal"></i>
                                            </label><br/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<div class="col-md-4"></div>
                        <div class="col-md-2">
                            <form action="/products/PurchaseCompletion/@Model.ProductId" method="post" style="float:right">
                                <script src="//checkout.stripe.com/v2/checkout.js"
                                        class="stripe-button"
                                        data-key="@Model.PublishedKey"
                                        data-description="@Model.Desc"
                                        data-amount="@Model.Amount">
                                </script>
                            </form>
                        </div>
                        <div class="col-md-2">
                            <button class="btn-info" type="button"
                                    style="float:left;min-height:30px;background-image:linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
                                            font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight: bold;
                                            font-size:14px;text-shadow:0 -1px 0 rgba(0,0,0,0.25);box-shadow:inset 0 1px 0 rgba(255,255,255,0.25);
                                            border-radius:4px;">
                                Pay with Paypal
                            </button>
                        </div>
                        <div class="col-md-4"></div>*@
                        @*<div class="text-center col-md-12">
                                <br />
                                *<span class="text-green" >Pay With Card </span>
                                will be processed by <a href="www.stripe.com">
                                <i style="font-size:36px;" class="fa fa-cc-stripe"></i>
                                stripe.com</a>.
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style type="text/css">
        .fa-cc-mastercard {
            color: gray;
        }

            .fa-cc-mastercard:hover {
                color: #0a3a82;
            }

        .fa-cc-visa {
            color: gray;
        }

            .fa-cc-visa:hover {
                color: #0157a2;
            }

        .fa-cc-amex {
            color: gray;
        }

            .fa-cc-amex:hover {
                color: #007bc1;
            }

        .fa-cc-paypal {
            color: gray;
        }

            .fa-cc-paypal:hover {
                color: #253b80;
            }
    </style>
