﻿@model WebApplication2.Models.Product
@{
    ViewBag.Title = "PurchaseCompletion";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="section-full bg-white content-inner">
    <div class="container">
        <div class="section-content">
            <div class="card-container alert alert-success">
                <div class="text-center">
                    <p style="font-size:24px;">You have successfully purchased the content!</p>
                    <p style="font-size:18px;">
                        <table class="center-block InfoTable">
                            
                                <tr>
                                    <td >Content Name </td>
                                    <td >@Model.ProductName</td>
                                </tr>
                                <tr >
                                    <td >Content Price </td>
                                    <td >$ @Model.ProductPrice</td>
                                </tr>
                        </table>
                    </p>
                    <div class="">
                        <a class="site-button green m-rs"
                           href="~/@Html.Raw(Model.ProductPath)" style="margin-left:40px;">
                            <i class="fa fa-book"></i>Read Now
                        </a>

                        <a class="site-button yellow m-rs"
                           href='@Url.Action("BuyProduct", "Products", new { id=Model.Id})' style="margin-left:40px;">
                            <i class="fa fa-download"></i>Download Now
                        </a>

                        <a class="site-button red m-rs"
                           href='@Url.Action("Index", "Home")' style="margin-left:40px;">
                            <i class="fa fa-home"></i>Return To Home
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    table.InfoTable {
        border: 1px solid white;
        background-color: #EEEEEE;
        width: 253px;
        text-align: center;
    }

        table.InfoTable td, table.InfoTable th {
            border: 1px solid white;
            padding: 3px 2px;
        }

        table.InfoTable tbody td {
            font-size: 16px;
        }
</style>

