﻿
@{
    ViewBag.Title = "Webinar";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="section-full bg-white content-inner">
    <div class="container">
        <div class="section-content">
        </div>
    </div>
</div>
<h2>Webinar</h2>

