﻿@model WebApplication2.Models.ReferredUsersList

@{
    ViewBag.Title = "Referrals";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Referrals</h2>

<table class="table">
    <tr>
        <th>User Name</th>
        <th>Own Referral</th>
        <th>Referred By</th>
    </tr>

    @foreach (var item in Model.ReferredUsers)
    {
        <tr>
            <td>@item.UserName</td>
            <td>@item.OwnReferralCode</td>
            <td>@item.ReferredBy</td>
        </tr>
    }

    <br />

    <table class="table">
        <tr>
            <th>User Name</th>
            <th>Own Referral</th>
            <th>Referred By</th>
        </tr>

        @foreach (var item in Model.NonReferredUsers)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.OwnReferralCode</td>
                <td>@item.ReferredBy</td>
            </tr>
        }

    </table>
