﻿@{
    ViewBag.Title = "About";
}
<div class="section-full bg-white content-inner">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div id="block-stopbullying-page-title" class="block block-core block-page-title-block">
                    <h1 class="uswds-page-title page-title">
                        <span class="field field--name-title field--type-string field--label-hidden">
                            <img src="~/Images/our-team/LanaGrinevWhite.jpg" width="100" height="100" />
                            Lana Grinev, LCSW-R
                        </span>
                    </h1>
                </div>
                <div id="block-stopbullying-content" class="block block-system block-system-main-block">
                    <article class="node node--type-article node--promoted node--view-mode-full" role="article" data-history-node-id="338">
                        <div class="node__content">
                            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                <p id="top" class="shadow-lg p-3 mb-5 bg-white rounded">
                                    Lana Grinev, LCSW-R is a family-loving mother of 3, the Deputy Executive Director of a New York City agency, and a survivor of obesity, bulimia nervosa and anorexia nervosa.  Born in Moldova, her family immigrated to the United States when she was only four-years-old.  She has lived in Brooklyn, New York all her life, and although she is a Russian immigrant- one of 1.6 million in NY- she is very much an American. Lana’s youth and teenage years were fraught with being teased, picked-on, and bullied.  She was able to withstand all of this hurtful treatment and she resultantly grew resilient with a strong sense of self-empowerment. Having experienced all of this, Lana has tremendous empathy, and truly understands the emotional extremes that a patient can endure. She has been there herself. She passes no judgement. Along with her training, Lana has the necessary experiential wisdom to help anyone with an eating disorder to overcome his/her suffering.
                                </p>
                                <p class="shadow-lg p-3 mb-5 bg-white rounded">
                                    As a trained clinical psychotherapist who specializes in eating disorders, she is able to assist others with treatment modalities that are truly unique. She is a holistic provider, and with the use of natural, alternative treatments, she is able to help her clients in remarkable ways.  Her life goal is to share her knowledge, dispel myths, and empower all those affected by eating disorders to seek treatment, reach, and remain in recovery.
                                </p>
                            </div>
                        </div>
                    </article>
                </div>

                <div id="block-stopbullying-page-title" class="block block-core block-page-title-block">
                    <h1 class="uswds-page-title page-title">
                        <span class="field field--name-title field--type-string field--label-hidden">
                            <img src="~/Images/WT180_Logo_NoText.png" width="100" height="100" />
                            WELLNESS TODAY 180° (WT180)
                        </span>
                    </h1>
                    <h3><i>“Changing today to ensure tomorrow”</i> -Lana Grinev</h3>
                </div>
                <div id="block-stopbullying-content" class="block block-system block-system-main-block">
                    <article class="node node--type-article node--promoted node--view-mode-full" role="article" data-history-node-id="338">
                        <div class="node__content">
                            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                <p id="top" class="shadow-lg p-3 mb-5 bg-white rounded">
                                    WT180 is the brainchild of Lana Grinev, LCSW-R.  The moniker represents Lana’s lifelong personal experience enduring body shaming and bullying, and ultimately persevering to live a life reflective of a positive body image. After many years grappling with one eating disorder or another, she is able to embrace the world, but free of weight preoccupation and size prejudice.
                                </p>
                                <p class="shadow-lg p-3 mb-5 bg-white rounded">
                                    Lana’s creation of WT180 is a direct response to her formative experiences, and strives to institute the prevention of eating disorders where it is most critically needed.   Now that eating disorders are diagnosed in younger children than in the past, prevention has to start as early as possible.  It is through the principles of WT180 that novel tools have been developed, and a more thorough education at younger ages is now feasible.  Education is not a stand-alone feature, as true prevention must incorporate support and an ongoing advocacy for wellness.
                                </p>
                                <p id="top" class="shadow-lg p-3 mb-5 bg-white rounded">
                                    However, individuals of all ages, genders, and stages of eating disorders are included and will be treated with respect, compassion and mutual trust. Lana ensures that clients who experience this program will be able to understand mental, physical, emotional, social and spiritual healing on their own terms.
                                </p>
                                <p class="shadow-lg p-3 mb-5 bg-white rounded">
                                    As individuals grow and foster fresh, healthier relationships with their authentic selves, we maintain a goal of providing treatment to meet the psychological, nutritional, spiritual and relational needs of our clients. We endlessly remind our clients of their worth, and empower them to begin to let go of their eating disorder identity. It is with the release of this identity that the client is able to redefine themselves, and with a heightened self-worth, he/she can achieve and remain in recovery.
                                </p>
                                <p id="top" class="shadow-lg p-3 mb-5 bg-white rounded">
                                    In its infancy, WT180 aims to produce tools and resources that can be utilized by patients, caregivers, and healthcare providers.  With these tools, the foundation for understanding and behavioral change take root, and thereafter the treatment of an eating disorder can be highly individualized and tailored to each participant. The children’s book, webinar, and eating disorder text are the first phase of interdisciplinary and multimedia references to start a client on the road to recovery.  Additional tools will follow as the needs of participants change, and the science of treatment develops further.
                                </p>
                            </div>
                        </div>
                    </article>
                </div>

                <div id="block-stopbullying-page-title" class="block block-core block-page-title-block">
                    <h1 class="uswds-page-title page-title"><span class="field field--name-title field--type-string field--label-hidden"> Overall Goals of WT180</span></h1>
                </div>
                <div id="block-stopbullying-content" class=" shadow-lg p-3 mb-5 bg-white rounded">
                    <article class="" role="article" data-history-node-id="338">
                        <div class="">

                            <ol style="margin-left:25px;">
                                <li>
                                    Participants will learn about safe and healthy nutrition as well as flexible eating
                                    habits by developing their own personal plan that also encompasses daily healthful practices.
                                </li>
                                <li>
                                    Participants will be able to understand the applicable components of the holistic and spiritual treatment of eating disorders and other treatment approaches (i.e. Natural foods, exercise, supportive relationships, etc.).
                                </li>
                                <li>
                                    Participants will be able to identify and utilize multiple holistic techniques to treat eating disorders.
                                </li>
                                <li>
                                    Individuals will learn how to heal the deeply emotional roots of food compulsion by practicing healing modalities.

                                </li>
                            </ol>
                            <p>
                                The means by which these goals are attained is through solid and captivating education as delivered by our webinar and the text which supplements it. Further programs will be created to discuss new findings in the literature, and changes in treatment recommendations. The utilization of the unique book Don’t Bully Wooley addresses both eating disorders in children and the bullying that takes place in the face of them.  Other tools and learning modalities will be developed in the future as science and the eating disorder community require.
                            </p>

                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
