﻿@model WebApplication2.Models.ContactUsModel

@{
    ViewBag.Title = "Contact";
}
<!-- inner page banner -->
<div class="rdx-bnr-inr overlay-black-middle" style="background-image:url(../images/background/contact2.jpg);">
    <div class="container">
        <div class="rdx-bnr-inr-entry text-center">
            <p style="font-size:52px;font-weight:700" class="text-white"> Conact Us</p>
        </div>
    </div>
</div>
<!-- inner page banner END -->
<!-- contact area -->
<div class="content-area">
    <div class="container">
        <!-- info part start -->
        <h4>Contact Info</h4>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 m-b30">
                <div class="icon-bx-wraper center bg-white p-a30">
                    <div class="icon-bx-sm bg-primary m-b20"> <a href="#" class="icon-cell"><i class="fa fa-phone"></i></a> </div>
                    <div class="icon-content">
                        <h5>Phone</h5>
                        <p>+91 564 548 4854</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 m-b30">
                <div class="icon-bx-wraper center bg-white p-a30">
                    <div class="icon-bx-sm bg-primary m-b20"> <a href="#" class="icon-cell"><i class="fa fa-envelope"></i></a> </div>
                    <div class="icon-content">
                        <h6>Email</h6>
                        <p>info@example.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12  m-b30">
                <div class="icon-bx-wraper center bg-white p-a30">
                    <div class="icon-bx-sm bg-primary m-b20"> <a href="#" class="icon-cell"><i class="fa fa-map-marker"></i></a> </div>
                    <div class="icon-content">
                        <h5>FAQ</h5>
                        <p>
                            +91 564 548 4854
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12  m-b30">
                <div class="icon-bx-wraper center bg-white p-a30">
                    <div class="icon-bx-sm bg-primary m-b20"> <a href="#" class="icon-cell"><i class="fa fa-map-marker"></i></a> </div>
                    <div class="icon-content">
                        <h5>Address</h5>
                        <p>252 W 43rd St New York, NY</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- info part END -->
        <div class="row">
            <!-- Contact form start -->
            @*<div class="col-md-6">
                <h4>Contact Welness Today 180</h4>
                <div class="dzFormMsg"></div>
                <div class="p-a30 bg-white clearfix m-b30">
                    <form method="post" class="#" action="@Url.Action("Contact", "Home", Model)">
                        <input type="hidden" value="Appoinment" name="dzToDo">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 text-center m-b30 text-white">
                                <h2 class=" m-t0 m-b10">Appoint <span class="text-primary">Now </span></h2>
                                <div class="rdx-separator-outer">
                                    <div class="rdx-separator bg-primary style-liner"></div>
                                </div>
                                <p class="title-small ">Please provide all the information and detail description below. </p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input name="dzName" class="form-control" placeholder="Name" type="text" value="@Model.Name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input name="dzEmail" class="form-control" placeholder="Email" type="text" value="@Model.Email">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input name="dzOther[date]" class="form-control" placeholder="Select Date" type="date" value="@Model.SheduledDateTime">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <textarea name="dzMessage" rows="6" class="form-control" required="">@Model.Details</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                                <div class="dzFormMsg "></div>
                                <button name="Reset" value="Reset" type="reset" class="site-button skew-secondry"><span>Reset</span></button>
                                <button name="submit" type="submit" value="Submit" class="site-button skew-secondry"><span>Submit</span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>*@
            <!-- Contact form END -->
            <!-- Map part start -->
            @*<div class="col-md-6">
                <h4>Our Location</h4>
                <iframe class="d-flex align-self-stretch m-b30" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d227748.3825624477!2d75.65046970649679!3d26.88544791796718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396c4adf4c57e281%3A0xce1c63a0cf22e09!2sJaipur%2C+Rajasthan!5e0!3m2!1sen!2sin!4v1500819483219" style="border:0; width:100%; min-height:410px;" allowfullscreen></iframe>
            </div>*@
            <!-- Map part start -->
        </div>
    </div>
</div>
<!-- contact area  END -->