﻿
@{
    ViewBag.Title = "EatingDisorder";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="rdx-bnr-inr overlay-black-middle" style="background-image:url(../images/background/ED2.jpg);">
    <div class="container">
        <div class="rdx-bnr-inr-entry text-center">
            <p style="font-size:52px;font-weight:700" class="text-white"> Eating Disorder </p>
        </div>
    </div>
</div>


<section class="section-full content-inner">
    <div class="container">
        <div class="row">
            <div class="format_text">
                <p>
                    <script src="https://6f3da2908b4444578f9443fc0a293f9c.js.ubembed.com" async=""></script><br>
                    @*<a href="http://www.eatingdisorderhope.com/timberline-knolls-get-help-now/" target="_blank" rel="noopener follow" data-wpel-link="internal"><img class="aligncenter wp-image-33229 size-full" src="https://www.eatingdisorderhope.com/wp-content/uploads/2018/09/TimberlineKnolls-EDHope-468x60.jpg" alt="" srcset="https://www.eatingdisorderhope.com/wp-content/uploads/2018/09/TimberlineKnolls-EDHope-468x60.jpg 468w, https://www.eatingdisorderhope.com/wp-content/uploads/2018/09/TimberlineKnolls-EDHope-468x60-300x38.jpg 300w, https://www.eatingdisorderhope.com/wp-content/uploads/2018/09/TimberlineKnolls-EDHope-468x60-400x51.jpg 400w" sizes="(max-width: 468px) 100vw, 468px" width="468" height="60"></a>*@
                </p>
                @*<p><a href="https://www.eatingdisorderhope.com/treatment-centers/arizona-az/remuda-ranch-at-the-meadows" target="_blank" rel="noopener follow" data-wpel-link="internal"><img class="size-full wp-image-33906 aligncenter" src="https://www.eatingdisorderhope.com/wp-content/uploads/2018/11/468x60-Meadows-Banner.jpg" alt="The Meadows Ranch Banner" srcset="https://www.eatingdisorderhope.com/wp-content/uploads/2018/11/468x60-Meadows-Banner.jpg 468w, https://www.eatingdisorderhope.com/wp-content/uploads/2018/11/468x60-Meadows-Banner-300x38.jpg 300w, https://www.eatingdisorderhope.com/wp-content/uploads/2018/11/468x60-Meadows-Banner-400x51.jpg 400w" sizes="(max-width: 468px) 100vw, 468px" width="468" height="60"></a></p>
                    <p><a href="https://www.eatingdisorderhope.com/treatment-centers/missouri-mo/mccallum-place" target="_blank" rel="noopener follow" data-wpel-link="internal"><img class="size-full wp-image-34157 aligncenter" src="https://www.eatingdisorderhope.com/wp-content/uploads/2018/11/McCallum-New-468x60.jpg" alt="McCallum Banner - 468x60" srcset="https://www.eatingdisorderhope.com/wp-content/uploads/2018/11/McCallum-New-468x60.jpg 468w, https://www.eatingdisorderhope.com/wp-content/uploads/2018/11/McCallum-New-468x60-300x38.jpg 300w, https://www.eatingdisorderhope.com/wp-content/uploads/2018/11/McCallum-New-468x60-400x51.jpg 400w" sizes="(max-width: 468px) 100vw, 468px" width="468" height="60"></a></p>*@
                <h2 id="What-is-an-Eating-Disorder">What is an Eating Disorder<strong>?</strong></h2>
                <p>Eating Disorders describe illnesses that are characterized by irregular eating habits and severe distress or concern about body weight or shape.</p>
                <p>Eating disturbances may include inadequate or excessive food intake which can ultimately damage an individual’s well-being. The most common forms of eating disorders include Anorexia Nervosa, Bulimia Nervosa, and Binge Eating Disorder and affect both females and males.</p>
                <p>Eating disturbances may include inadequate or excessive food intake which can ultimately damage an individual’s well-being. The most common forms of eating disorders include Anorexia Nervosa, Bulimia Nervosa, and Binge Eating Disorder and affect both females and males.</p>
                <p align="center"><iframe src="https://www.youtube.com/embed/_803OOG7CjU" allowfullscreen="allowfullscreen" width="560" height="315" frameborder="0"></iframe></p>
                <p><em>Demi Lovato speaks about her eating disorder. As posted by I Choose People</em></p>
                <p>Eating disorders can develop during any stage in life but typically appear during the teen years or young adulthood. Classified as a medical illness, appropriate treatment can be highly effectual for many of the specific types of eating disorders.</p>
                <p>Although these conditions are treatable, the symptoms and consequences can be detrimental and deadly if not addressed. Eating disorders commonly coexist with other conditions, such as anxiety disorders, substance abuse, or depression.</p>
                <h2 id="Types-of-Eating-Disorders">Types of Eating Disorders</h2>
                <p><img class="alignright wp-image-7125" src="https://www.eatingdisorderhope.com/wp-content/uploads/2012/05/beautiful-smiling-african-american-woman.jpg" alt="Beautiful Smiling African American Woman Overcoming an Eating Disorder" srcset="https://www.eatingdisorderhope.com/wp-content/uploads/2012/05/beautiful-smiling-african-american-woman.jpg 600w, https://www.eatingdisorderhope.com/wp-content/uploads/2012/05/beautiful-smiling-african-american-woman-200x300.jpg 200w, https://www.eatingdisorderhope.com/wp-content/uploads/2012/05/beautiful-smiling-african-american-woman-186x280.jpg 186w" sizes="(max-width: 173px) 100vw, 173px" width="173" height="259"></p>
                <p>The three most common types of Eating Disorders are as follows:</p>
                <ul>
                    <li><strong><span style="text-decoration: underline;">Anorexia Nervosa</span></strong>-The male or female suffering from anorexia nervosa will typically have an obsessive fear of gaining weight, refusal to maintain a healthy body weight and an unrealistic perception of body image. Many people with <a title="Anorexia and Relationship Issues" href="https://www.eatingdisorderhope.com/information/anorexia" target="_blank" rel="noopener follow" data-wpel-link="internal">anorexia nervosa</a> will fiercely limit the quantity of food they consume and view themselves as overweight, even when they are clearly underweight. Anorexia can have damaging health effects, such as brain damage, multi-organ failure, bone loss, heart difficulties, and infertility. The risk of death is highest in individuals with this disease.</li>
                    <li><strong><span style="text-decoration: underline;">Bulimia Nervosa</span></strong>-This eating disorder is characterized by repeated binge eating followed by behaviors that compensate for the overeating, such as forced vomiting, excessive exercise, or extreme use of laxatives or diuretics. Men and women who suffer from Bulimia may fear weight gain and feel severely unhappy with their body size and shape. The binge-eating and purging cycle is typically done in secret, creating feelings of shame, guilt, and lack of control.&nbsp;<a href="https://www.eatingdisorderhope.com/information/bulimia" target="_blank" rel="noopener follow" data-wpel-link="internal">Bulimia</a> can have injuring effects, such as gastrointestinal problems, severe dehydration, and heart difficulties resulting from an electrolyte imbalance.</li>
                    <li><strong><span style="text-decoration: underline;">Binge Eating Disorder-</span></strong> Individuals who suffer from Binge Eating Disorder will frequently lose control over his or her eating. Different from bulimia nervosa however, episodes of binge-eating are not followed by compensatory behaviors, such as purging, fasting, or excessive exercise. Because of this, many people suffering from BED may be obese and at an increased risk of developing other conditions, such as cardiovascular disease. Men and women who struggle with this disorder may also experience intense feelings of guilt, distress, and embarrassment related to their <a href="https://www.eatingdisorderhope.com/information/binge-eating-disorder" target="_blank" rel="noopener noreferrer follow" data-wpel-link="internal">binge-eating</a>, which could influence the further progression of the eating disorder.</li>
                </ul>
                <h2 id="Causes-of-Eating-Disorders">Causes of Eating Disorders</h2>
                <p>Eating Disorders are complex disorders, influenced by a facet of factors. Though the exact cause of eating disorders is unknown, it is generally believed that a combination of biological, psychological, and/or environmental abnormalities contribute to the development of these illnesses.</p>
                <p>Examples of biological factors include:</p>
                <ul>
                    <li>Irregular hormone functions</li>
                    <li>Genetics (the tie between eating disorders and one’s genes is still being heavily researched, but we know that genetics is a part of the story).</li>
                    <li>Nutritional deficiencies</li>
                </ul>
                <p>Examples of psychological factors include:</p>
                <ul>
                    <li>Negative body image</li>
                    <li>Poor self-esteem</li>
                </ul>
                <p>Examples of environmental factors that would contribute to the occurrence of eating disorders are:</p>
                <ul>
                    <li>Dysfunctional family dynamic</li>
                    <li>Professions and careers that promote being thin and weight loss, such as ballet and modeling</li>
                    <li>
                        Aesthetically oriented sports, where an emphasis is placed on maintaining a lean body for enhanced performance.
                        <ul>
                            <li>
                                Examples include:
                                <ul>
                                    <li>Rowing</li>
                                    <li>Diving</li>
                                    <li><a title="Ballet Dancing and Eating Disorders" href="https://www.eatingdisorderhope.com/information/eating-disorder/ballet" data-wpel-link="internal" rel="follow">Ballet</a></li>
                                    <li>Gymnastics</li>
                                    <li>Wrestling</li>
                                    <li>Long distance running</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>Family and childhood traumas: childhood sexual abuse, severe trauma</li>
                    <li>Cultural and/or peer pressure among friends and co-workers</li>
                    <li><a title="Starting College and the Risk of Eating Disorders" href="https://www.eatingdisorderhope.com/information/eating-disorder/college-trigger-eating-disorder" target="_blank" rel="noopener follow" data-wpel-link="internal">Stressful transitions or life changes</a></li>
                </ul>
                <p><img class="alignnone wp-image-7121 size-full" src="https://www.eatingdisorderhope.com/wp-content/uploads/2012/05/happy-beautiful-woman-looking-up.png" alt="Beautiful Woman Happy to Beat Eating Disorders" srcset="https://www.eatingdisorderhope.com/wp-content/uploads/2012/05/happy-beautiful-woman-looking-up.png 525w, https://www.eatingdisorderhope.com/wp-content/uploads/2012/05/happy-beautiful-woman-looking-up-300x149.png 300w" sizes="(max-width: 525px) 100vw, 525px" width="525" height="262"></p>
                <h2 id="Signs-amp-Symptoms-of-an-Eating-Disorder">Signs &amp; Symptoms of an Eating Disorder</h2>
                <p>A man or woman suffering from an eating disorder may reveal several signs and symptoms, some which are:</p>
                <ul>
                    <li>Chronic dieting despite being hazardously underweight</li>
                    <li>Constant weight fluctuations</li>
                    <li>Obsession with calories and fat contents of food</li>
                    <li>Engaging in ritualistic eating patterns, such as cutting food into tiny pieces, eating alone, and/or hiding food</li>
                    <li>Continued fixation with food, recipes, or cooking; the individual may cook intricate meals for others but refrain from partaking</li>
                    <li>Depression or lethargic stage</li>
                    <li>Avoidance of social functions, family, and friends. May become isolated and withdrawn</li>
                    <li>Switching between periods of overeating and fasting</li>
                </ul>
                <h2 id="Medical-Complications-of-Anorexia-Nervosa-Bulimia-amp-Binge-Eating-Disorder">Medical Complications of Anorexia Nervosa, Bulimia &amp; Binge Eating Disorder</h2>
                <p>&nbsp;</p>
                <p><span style="color: #ff0000;"><em>Complex medical complications associated with severe eating disorders covered by our Exclusive Partnering Sponsor – to be unveiled soon!</em></span></p>
                <p>&nbsp;</p>
                <h2 id="Treatment-for-an-Eating-Disorder">Treatment for an Eating Disorder</h2>
                <p>Because of the severity and complexities of these conditions, a comprehensive and professional treatment team specializing in eating disorders is often fundamental in establishing healing and recovery.</p>
                <p>Treatment plans are utilized in addressing the many concerns a man or woman may be facing in the restoration of their health and well-being and are often tailored to meet individual needs.</p>
                <p>Treatment for an eating disorder is usually comprised of one or more of the following and addressed with medical doctors, nutritionists, and therapists for complete care:</p>
                <ul>
                    <li>Medical Care and Monitoring-The highest concern in the treatment of eating disorders is addressing any <a href="https://www.eatingdisorderhope.com/treatment-for-eating-disorders/special-issues/medical-complications" target="_blank" rel="noopener follow" data-wpel-link="internal">health issues</a> that may have been a consequence of eating disordered behaviors.</li>
                    <li>Nutrition: This would involve weight restoration and stabilization, guidance for normal eating, and the integration of an individualized meal plan.</li>
                    <li>Therapy: Different forms of psychotherapy, such as individual, family, or group, can be helpful in addressing the underlying causes of eating disorders. Therapy is a fundamental piece of treatment because it affords an individual in recovery the opportunity to address and heal from traumatic life events and learn healthier coping skills and methods for expressing emotions, communicating and maintaining healthy relationships.</li>
                    <li>Medications: Some medications may be effective in helping resolve<a title="Are Anxiety, Depression and Eating Disorders Inextricably Linked?" href="https://www.eatingdisorderhope.com/blog/are-anxiety-depression-and-eating-disorders-inextricably-linked" target="_blank" rel="noopener follow" data-wpel-link="internal"> mood or anxiety symptoms</a> that can occur with an eating disorder or in reducing binge-eating and purging behaviors.</li>
                </ul>
                <p>Varying levels of treatment, ranging from outpatient support groups to inpatient <a href="https://www.eatingdisorderhope.com/treatment-centers" target="_blank" rel="noopener noreferrer follow" data-wpel-link="internal">treatment centers</a>, are available and based on the severity of the eating disorder. In any case, recognizing and addressing the eating disorder are crucial in being able to begin treatment.</p>
                <h2 id="EDHs-Inaugural-Online-Conference">EDH’s Inaugural Online Conference</h2>
                <p><em>Compelling Anorexia, Bulimia &amp; Binge Eating Disorder Recovery Information</em></p>
                <p><a href="https://www.eatingdisorderhope.com/online-conference-event-schedule" target="_blank" rel="noopener follow" data-wpel-link="internal"><img class="wp-image-27243 alignleft" src="https://www.eatingdisorderhope.com/wp-content/uploads/2012/05/Editor-PicMonkey-Photo-Editor-and-Graphic-Design-Maker-1-300x96.png" alt="" width="400" height="128"></a></p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p style="text-align: left;"><strong>Visit the <a href="https://www.eatingdisorderhope.com/online-conference-event-schedule" target="_blank" rel="noopener follow" data-wpel-link="internal">Inaugural Online Conference</a> Page to view the webinars!</strong></p>
                <p>&nbsp;</p>
                <h2 id="Eating-Disorder-Articles">Eating Disorder Articles</h2>
                <ul>
                    <li><a href="https://www.eatingdisorderhope.com/information/anorexia/anorexia-effectkill-spirit-life-body" data-wpel-link="internal" rel="follow">Anorexia kills people.</a> In fact, this disease enjoys the highest fatality rate of any psychiatric disorder. In the case of a celebrity death, the media provides coverage. Perhaps the first recognized case was that of Karen Carpenter in the early 8Os. An anorexic who relied on ipecac for vomiting, she died of heart failure. Years later, she was followed by Christina Renee Henrich, a world-class gymnast who died in 1994.</li>
                    <li>Female Athlete Triad Syndrome is a dangerous illness that can cause women who are extreme in their sports to have lifelong health concerns. Their coaches, friends, and family need to pay attention and help prevent the athlete from developing&nbsp;<a href="https://www.eatingdisorderhope.com/information/eating-disorder/dangers-of-female-athlete-triad-syndrome" target="_blank" rel="noopener follow" data-wpel-link="internal">Female Athlete Triad Syndrome</a>.</li>
                    <li>Major life changes can be a trigger to those fighting an eating disorder. Beginning college is no exception. The young man or woman is leaving home, friends and family to venture off into the unknown. College can be challenging and difficult for all students, but more so for others. This progression into adulthood is often a significant life altering event, and <a href="https://www.eatingdisorderhope.com/information/eating-disorder/college-trigger-eating-disorder" target="_blank" rel="noopener noreferrer follow" data-wpel-link="internal">college can sadly trigger</a> or lead to an eating disorder.</li>
                    <li>Eating disorders are more commonly associated with Caucasian females&nbsp;who are well-educated and from the upper socio-economic class. Eating disorders&nbsp;are also viewed as a&nbsp;western world affliction and not commonly related to other ethnic groups. This is not an accurate assumption. Eating disorders are prevalent in many different cultures and have been for a long time. This just continues to prove there are no barriers when it comes to eating disorders. Males, females, Caucasians, African Americans, Asian Americans, Mexican Americans and other <a href="https://www.eatingdisorderhope.com/information/eating-disorder/ethnic-minorities" target="_blank" rel="noopener noreferrer follow" data-wpel-link="internal">ethnic minorities</a> all can struggle with eating disorders.</li>
                    <li>According to&nbsp;the National Eating Disorders Association, people who are lesbian, gay, bisexual and transgender (LGBT)&nbsp;are&nbsp;at a higher risk of developing eating disorders including anorexia and bulimia. Gay and bisexual men who are single&nbsp;tend to&nbsp;feel more pressure to be thin&nbsp;and resort to restrictive eating disorders while those in a relationship turn to bulimia. Women in the lesbian and bisexual community still struggle with eating disorders similar to most heterosexual women&nbsp;with eating disorders, but <a href="https://www.eatingdisorderhope.com/information/eating-disorder/gay-lesbian" target="_blank" rel="noopener follow" data-wpel-link="internal">lesbian and bisexual women&nbsp;are more likely to have mood disorders</a>.</li>
                    <li>There is no such thing as the perfect dancer. Female ballet dancers work very hard at their craft but often find themselves in the throes of an eating disorder. Ballet dancers have long been known to develop eating disorders, and this can, to a degree, be understood because the dancer stands in front of a large mirror during practice and compares herself to all of her peers. In addition, it does not help that the industry of <a href="https://www.eatingdisorderhope.com/information/eating-disorder/ballet" target="_blank" rel="noopener noreferrer follow" data-wpel-link="internal">ballet dancing is extremely obsessed with weight</a>.</li>
                    <li>Is vegetarianism contributing to eating disorders? Currently, just about five percent of Americans define themselves as a vegetarian (a person who removes meat and animal products from their diet). This percentage does not include those who consider themselves to be “quasi-vegetarians” (people who eat some animal-based products but primarily rely on a plant-based diet). Vegetarianism is much more prevalent for those who struggle with eating disorders. <a href="https://www.eatingdisorderhope.com/information/anorexia/vegan-vegetarian-relationship-rates" target="_blank" rel="noopener follow" data-wpel-link="internal">About half of the patients fighting an eating disorder practice some form of vegetarian diet.&nbsp;</a></li>
                    <li>In addressing the many medical complications of an eating disorder, the more urgent concerns typically take priority, such as undernourishment or an unstable heartbeat. However, some of the health consequences related to eating disorders affect the individual in the long term, even if they aren’t more apparent or obvious. Bone loss, or osteoporosis, is a silent but debilitating condition that commonly impacts women with eating disorders, such as Anorexia Nervosa. If you or a loved one is struggling with an eating disorder, read this article to learn more about ways you can prevent and <a href="https://www.eatingdisorderhope.com/information/eating-disorder/osteoporosis-bone-density-loss" target="_blank" rel="noopener noreferrer follow" data-wpel-link="internal">treat bone density loss</a> and eating disorders</li>
                    <li>With the mass amount of misguided information about eating disorders, it is common for these serious illnesses to be misunderstood, oversimplified, or greatly generalized. The truth of the matter is that Eating Disorders are complex diseases caused by a multitude of factors. Men or women who struggle with an eating disorder have a <a href="http://www.eatingdisorderhope.com/information/eating-disorder/widespread-mental-illness" target="_blank" rel="noopener noreferrer follow" data-wpel-link="internal">serious mental illness</a> with potentially life-threatening consequences. Understanding the implications of eating disorders can help increase awareness about ways to get help. Read this article to learn the myths vs. facts about eating disorders, which are serious mental conditions.</li>
                    <li>In the rapid evolution of our society today, advances in technology have dictated the course of human interactions. The way we interface with one another is largely hinged on the capacities that have developed throughout the years. Face-to-face connections are often pushed aside for text messaging, emails, and the like. What has been lost and sacrificed in the name of convenience and expediency? <a href="https://www.eatingdisorderhope.com/information/eating-disorder/body-image-technology" target="_blank" rel="noopener follow" data-wpel-link="internal">Read more here</a>.</li>
                    <li>The media can be a culprit for generating images that falsify the reality of human bodies, but what drives an individual to idealize the representation of body perfection? As scientists unfold the blueprint of our genetic make-up, it is evident that both environment and genetics play an integral role in the formation of body image. <a href="https://www.eatingdisorderhope.com/information/eating-disorder/are-people-genetically-predisposed-for-eating-disorders" target="_blank" rel="noopener follow" data-wpel-link="internal">Read more here</a>.</li>
                    <li>While the transition to college is an exciting time for young adults, full of opportunities for independence and self-discovery, it also comes with an array of stressors. It’s often the first time a young adult lives apart from their primary support system. Learn about how <a href="https://www.eatingdisorderhope.com/information/eating-disorder/the-pressure-to-compete-can-college-life-cause-eating-disorders" target="_blank" rel="noopener noreferrer follow" data-wpel-link="internal">college life (and especially as an athlete) can put people at risk</a> for eating disorders.</li>
                    <li>Anyone who has any experience with doing battle with an eating disorder knows the challenge of wrestling with their “demons” and regaining control of their lives. I can’t think of any time more difficult than the free time from work or <a href="https://www.eatingdisorderhope.com/information/eating-disorder/college-life-summer-vacations-how-to-remain-in-eating-disorder-recovery" target="_blank" rel="noopener noreferrer follow" data-wpel-link="internal">college, aka summer vacation</a>. This is when most of us can find ourselves even more focused on body image and hear our ED talking loudest to us.</li>
                    <li>For individuals struggling with an eating disorder spurred from pressures or dysfunctions in their family, this summer break readjustment is exacerbated. For most, home is a loving and safe environment. <a href="https://www.eatingdisorderhope.com/information/eating-disorder/coming-home-from-college-eating-disorders-and-college-breaks" target="_blank" rel="noopener follow" data-wpel-link="internal">However, for some, home may have been different</a>.</li>
                    <li>In the treatment of eating disorders, <a href="https://www.eatingdisorderhope.com/information/eating-disorder/mirror-neurons-in-eating-disorder-treatment" target="_blank" rel="noopener noreferrer follow" data-wpel-link="internal">mirror neurons play an interesting role</a>. Often those with a disorder such as anorexia tend to experience rigidity and inflexibility in their thoughts and actions.The way they conduct their lives is often through a very black and white perspective. This is particularly evident in their perceptions of food and food consumption.</li>
                    <li>Most college students have been primed on how not to gain the “freshman 15.” But they likely haven’t been primed on just how dangerous it can be to try and avoid gaining those 15 pounds as a freshman or primed on the <a href="https://www.eatingdisorderhope.com/information/eating-disorder/what-to-do-if-you-notice-eating-disorder-red-flags-in-your-college-student" target="_blank" rel="noopener noreferrer follow" data-wpel-link="internal">red flag warning signs</a> of an eating disorder.</li>
                    <li>There is a close relationship between anxiety and all types of eating disorders. One study found that 64% of the 674 anorexic and bulimic participants had a <a href="https://www.eatingdisorderhope.com/information/eating-disorder/eating-disorders-anxiety" target="_blank" rel="noopener follow" data-wpel-link="internal">diagnosable anxiety disorder at some point in their lives.</a></li>
                    <li>Eating disorders have the highest mortality rate of any mental illness, which is why treatment is often so critical. In eating disorder treatment, those with anorexia, bulimia or binge eating disorder are given the tools and skills to get well. These strategies are designed to help them cope with uncomfortable feelings or distress; they are intended to replace the need for the eating disorder and <a href="http://www.eatingdisorderhope.com/information/eating-disorder/preventing-relapse-of-eating-disorders" target="_blank" rel="noopener noreferrer follow" data-wpel-link="internal">prevent a relapse</a>. Because the truth is, an eating disorder is an unhealthy, maladaptive coping technique.</li>
                    <li>Anyone, from a princess to a pauper, can fall victim to these life-altering—and life-threatening—mental illnesses. Friends, relatives, lovers, acquaintances—even celebrities, the people we admire as stars, the most powerful, <a title="Bulimia Isn’t Beautiful: Celebrities with Eating Disorders" href="http://www.eatingdisorderhope.com/information/eating-disorder/bulimia-isnt-beautiful-celebrities-with-eating-disorders" data-wpel-link="internal" rel="follow">or the most beautiful among us, are or have been afflicted.</a></li>
                    <li>Interview with Dr. Thomas Britton, DrPH, LPC, LCAS, CCS, ACS: “I was very fortunate that my own journey to recovery didn’t include the pain and isolation of an eating disorder, but the patterns and pain experienced in my early years shared many parallels and gave me great empathy for those with eating disorders. Back then, there was only one treatment center in my area that provided hospital based care and no <a title="Interview for Dr. Thomas Britton, DrPH, LPC, LCAS, CCS, ACS" href="http://www.eatingdisorderhope.com/information/eating-disorder/interview-for-dr-thomas-britton-drph-lpc-lcas-ccs-acs" data-wpel-link="internal" rel="follow">outpatient therapists existed that were trained in ED.</a>“</li>
                    <li>Many individuals work diligently and tirelessly to make college a reality, and can abruptly interfere with these goals and dreams. Is it possible to both <a href="http://www.eatingdisorderhope.com/information/eating-disorder/student-life-treatment-how-can-you-stay-in-school-and-get-treatment-for-your-eating-disorder" target="_blank" rel="noopener noreferrer follow" data-wpel-link="internal">attend college while receiving treatment</a> for an eating disorder?</li>
                    <li>If you’ve also had a pre-existing fear about food and a pre-occupation (or full-blown obsession) with your weight, shape, and size then college can be an extremely difficult time. In addition, there can be whole new levels of <a title="College Life and Academic Pressures: When Eating Disorders Become an Outlet for Stress" href="http://www.eatingdisorderhope.com/information/eating-disorder/college-life-and-academic-pressures-when-eating-disorders-become-an-outlet-for-stress" data-wpel-link="internal" rel="follow">social pressure around being thin that you’re just not used to dealing with.</a></li>
                    <li>Your loved one cannot be in a position to communicate effectively with you until that stabilization and maintenance have occurred. After that stabilization of eating patterns occurs, the real family work can develop. It is important to recognize that your loved one still needs patience from you as they continue to learn how to <a title="Restoring Family Relationships after Eating Disorder Treatment" href="https://www.eatingdisorderhope.com/information/eating-disorder/restoring-family-relationships-after-eating-disorder-treatment" target="_blank" rel="noopener follow" data-wpel-link="internal">communicate their emotions in a healthy way</a>.</li>
                    <li>As a marriage and family therapist, I have treated numerous families where a son or daughter is recovering from these debilitating disorders. Moms and Dads and brothers and sisters are on the front lines with the one struggling to recover from anorexia or bulimia. They are also vital members of the treatment team whose support is crucial in helping someone fully recover from their eating disorder. And one thing I reiterate to all of the <a href="https://www.eatingdisorderhope.com/information/eating-disorder/family-counselling-and-eating-disorders" target="_blank" rel="noopener noreferrer follow" data-wpel-link="internal">families I work with during counseling</a> is that no one is to blame for the disorder but everyone can assist in the recovery.</li>
                    <li>Most eating disorders are anathema to those who do not have one, but certain food-related illnesses are particularly alarming and baffling to the public at large. <a title="PICA: A Lesser Known, Highly Disturbing Eating Disorder" href="https://www.eatingdisorderhope.com/information/eating-disorder/pica-a-lesser-known-highly-disturbing-eating-disorder" target="_blank" rel="noopener follow" data-wpel-link="internal">PICA is certainly one of them</a>.</li>
                    <li>This led me to wonder- how hard must mindfulness be for those that look toward these holidays with dread rather than joyous anticipation? While there are many reasons that the holiday season is challenging for people, for the purposes of this article, I will focus on those individuals whose <a href="http://www.eatingdisorderhope.com/information/eating-disorder/maintaining-eating-disorder-recovery-during-the-holidays" target="_blank" rel="noopener noreferrer follow" data-wpel-link="internal">difficulty around the holidays</a> is related to their eating disorders.</li>
                    <li>We all have well learned that while there is excitement about being with family and friends during the Holiday season, there is also a certain amount of stress. For those who are feeling “pretty good” emotionally, the holidays can enhance <a title="An Increased Measure of Joy and Peace: Overcoming Loneliness and Disordered Eating During the Holidays" href="https://www.eatingdisorderhope.com/information/eating-disorder/an-increased-measure-of-joy-and-peace-overcoming-loneliness-and-disordered-eating-during-the-holidays" target="_blank" rel="noopener follow" data-wpel-link="internal">those positive emotional and relationship experiences</a>.</li>
                    <li>The holidays can be a stressful time for anyone, regardless of whether an eating disorder is involved in your life. Commonly, there are plans to be made, family members and loved ones to visit with, parties and social gatherings to attend, gifts to buy, meals to make, <a title="Navigating through Holidays When You or Your Loved One Has an Eating Disorder" href="https://www.eatingdisorderhope.com/information/eating-disorder/navigating-through-holidays-when-you-or-your-loved-one-has-an-eating-disorder" target="_blank" rel="noopener follow" data-wpel-link="internal">and often inundation with food</a>.</li>
                    <li><a href="http://www.eatingdisorderhope.com/information/eating-disorder/utilizing-holistic-treatment-to-overcome-thyroid-dysfunction-associated-with-eating-disorders" target="_blank" rel="noopener noreferrer follow" data-wpel-link="internal">Thyroid problems</a> are extremely common population-wide and are an issue for some in recovery from eating disorders as well. However, the type of dysfunction that occurs in the general population and those with a history of an eating disorder are not usually the same.</li>
                    <li>Today, we are bombarded with photos of today’s “beautiful women” in magazines, commercials, TV shows, movies and online photos. These women that represent today’s standard of beauty look very different from women of the past. The women displayed on the nationally broadcasted Victoria’s Secret runway shows each year epitomize the <a title="Eating Disorders and the Imperfect World of Celebrity Struggles" href="https://www.eatingdisorderhope.com/information/eating-disorder/eating-disorders-and-the-imperfect-world-of-celebrity-struggles" target="_blank" rel="noopener follow" data-wpel-link="internal">extreme standards the media portrays as “sexy” and “beautiful.”</a></li>
                </ul>
                <p>&nbsp;</p>
                <p>
                    <em>Page&nbsp;</em><em>Last Reviewed and U</em><em>pdated&nbsp;</em><em>By</em><em>
                        : Jacquelyn Ekern, MS, LPC on July 11,2018<br>
                    </em><em>Published on EatingDisorderHope.com, <a href="https://www.eatingdisorderhope.com/" target="_blank" rel="noopener follow" data-wpel-link="internal">Eating Disorder Information Help &amp; Resources</a></em>
                </p>
            </div>
        </div>
    </div>
</section>