﻿<!-- inner page banner -->
<div class="rdx-bnr-inr overlay-black-middle" style="background-image:url(../images/background/FAQ.jpg);">
    <div class="container">
        <div class="rdx-bnr-inr-entry text-center">
            <p style="font-size:52px;font-weight:700" class="text-white"> Frequently Asked Questions </p>
        </div>
    </div>
</div>
<!-- inner page banner END -->
<!-- Breadcrumb row -->
@*<div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="#">Home</a></li>
                <li>Faq 1</li>
            </ul>
        </div>
    </div>*@
<!-- Breadcrumb row END -->
<!-- contact area -->
<div class="content bg-white">
    <!-- Faq -->
    <section class="section-full content-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-uppercase m-b30">Questions On <span class="text-primary">Webinar: </span></h4>
                    <div class="rdx-accordion bg-title no-cover faq-block" id="accordion0">
                        <div class="panel">
                            <div class="acod-head">
                                <h5 class="acod-title"> <a data-toggle="collapse" href="#accordion0"><i class="fa fa-globe"></i> How do I view the webinar?</a> </h5>
                            </div>
                            <div id="collapseOne0" class="acod-body collapse show" data-parent="#accordion0">
                                <div class="acod-content">First you need to select whether you need CEUs. You choose the Webinar with CEUs or without, purchase it in the store, and then you will be able to view the slides.</div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="acod-head">
                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseTwo0" class="collapsed"><i class="fa fa-photo"></i> What are CEUs and are they different than CME? </a> </h5>
                            </div>
                            <div id="collapseTwo0" class="acod-body collapse" data-parent="#accordion0">
                                <div class="acod-content">
                                    CEUs are Continuing Education Units for licensed social workers. The webinar is currently only approved by New York state, and only for licensed social workers.  It may be approved for Continuing Medical Education in the future, but currently it is not.
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="acod-head">
                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseThree0" class="collapsed"><i class="fa fa-cog"></i> How long can I take to view the webinar? </a> </h5>
                            </div>
                            <div id="collapseThree0" class="acod-body collapse" data-parent="#accordion0">
                                <div class="acod-content">
                                    You can view it at your own pace, but your registration and the ability to obtain CEUs will expire in 1 years-time from purchase.
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="acod-head">
                                <h5 class="acod-title">
                                    <a data-toggle="collapse" href="#collapseFour0" class="collapsed">
                                        <i class="fa fa-globe"></i> How do I obtain my Certificate for CEUs?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFour0" class="acod-body collapse" data-parent="#accordion0">
                                <div class="acod-content">After you take and pass the Post-Test, you will be taken to the certificate page, allowed to enter your name, and print or save the page.</div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="acod-head">
                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseFive0" class="collapsed"><i class="fa fa-photo"></i> Can I make appointment with wellness Today 180 as an individual? </a> </h5>
                            </div>
                            <div id="collapseFive0" class="acod-body collapse" data-parent="#accordion0">
                                <div class="acod-content">Web design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?""But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"</div>
                            </div>
                        </div>

                    </div>
                    <br /><br />
                </div>
                <br /><br />
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <h4 class="text-uppercase m-b30">Questions On <span class="text-primary">DON’T BULLY WOOLEY: </span></h4>
                    <div class="rdx-accordion bg-title no-cover faq-block" id="accordion1">
                        <div class="panel">
                            <div class="acod-head">
                                <h5 class="acod-title">
                                    <a data-toggle="collapse" href="#collapseOne1">
                                        <i class="fa fa-globe"></i> For what ages is DBW appropriate?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseOne1" class="acod-body collapse" data-parent="#accordion1">
                                <div class="acod-content">Any school-age child will appreciate the story and the artwork. The assistance of a loved-one or caregiver to review the cognitive tools, the deeper meaning can easily be clarified and discussed.</div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="acod-head">
                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseTwo1" class="collapsed"><i class="fa fa-photo"></i> Is the book only written in English?</a> </h5>
                            </div>
                            <div id="collapseTwo1" class="acod-body collapse" data-parent="#accordion1">
                                <div class="acod-content">
                                    At this time, yes, the book is only in English.  However, it will be soon translated into Spanish, French, Hebrew and Russian.
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="acod-head">
                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseThree1" class="collapsed"><i class="fa fa-cog"></i> Can the book be ordered in larger quantities? </a> </h5>
                            </div>
                            <div id="collapseThree1" class="acod-body collapse" data-parent="#accordion1">
                                <div class="acod-content">
                                    Of course, we are happy to make DBW available to as many people as possible.  For orders greater than 10 books, please contact us by phone.
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="acod-head">
                                <h5 class="acod-title">
                                    <a data-toggle="collapse" href="#collapseFour1" class="collapsed">
                                        <i class="fa fa-globe"></i> What does the book come with?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFour1" class="acod-body collapse" data-parent="#accordion1">
                                <div class="acod-content">DBW comes with the fantastic story and artwork, of course! We also have included a musical CD (or file if the eBook is purchased) with an original song, and a poetic read. For a small amount extra, we also will include the Official Audiobook on CD (or file again if the eBook is purchased).</div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="acod-head">
                                <h5 class="acod-title">
                                    <a data-toggle="collapse" href="#collapseFive1" class="collapsed">
                                        <i class="fa fa-photo"></i>
                                        Does Lana Grinev give presentations about DBW?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFive1" class="acod-body collapse" data-parent="#accordion1">
                                <div class="acod-content">
                                    Yes, Lana is asked to give presentations on DBW and especially on how to best utilize the cognitive tools included in the book after the story.  If interested in scheduling Lana for a speaking engagement, fill out the form on the speaking engagement tab.
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="acod-head">
                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseSix5" class="collapsed"><i class="fa fa-cog"></i> Is DBW only for children with eating disorders? </a> </h5>
                            </div>
                            <div id="collapseSix5" class="acod-body collapse" data-parent="#accordion1">
                                <div class="acod-content">
                                    Actually, our goal is for children with eating disordered behaviors to not be given any formal diagnoses, and hence prevent EDs.  So, in many ways, this book is appropriate for all children for diagnostic and preventative purposes.  However, the other theme in the book, bullying, is an important issue for all children.  For this reason, DBW can help any child.
                                </div>
                            </div>
                        </div>
                    </div>
                    <br /><br />
                </div>
                <div class="col-md-12">
                    <h4 class="text-uppercase m-b30">Questions On <span class="text-primary">THE SCALE AND THE PSYCHE: </span></h4>
                    <div class="rdx-accordion bg-title no-cover faq-block" id="accordion2">
                        <div class="panel">
                            <div class="acod-head">
                                <h5 class="acod-title">
                                    <a data-toggle="collapse" href="#collapseOne2">
                                        <i class="fa fa-globe"></i> How does this book differ from the Webinar?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseOne2" class="acod-body collapse" data-parent="#accordion2">
                                <div class="acod-content">
                                    Both resources function as independent tools, discussing eating disorders and punctuating on the issues within the Russian community. They both capture Lana Grinev’s extensive experience in alternative treatment modalities, and these are covered in both references. This book, however, has a greater clinical basis containing all of the above, but also boasts a plethora of case studies, as well as medical and psychiatric diagnostics. The book serves as a comprehensive clinical reference, and is the perfect resource for all.
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="acod-head">
                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseTwo2" class="collapsed"><i class="fa fa-photo"></i> Will there be an audiobook for this text?</a> </h5>
                            </div>
                            <div id="collapseTwo2" class="acod-body collapse" data-parent="#accordion2">
                                <div class="acod-content">
                                    At this time there is not, but if clients have enough interest in this possibility, we may consider it!
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="acod-head">
                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseThree2" class="collapsed"><i class="fa fa-cog"></i> Is any continuing education credit available via the text? </a> </h5>
                            </div>
                            <div id="collapseThree2" class="acod-body collapse" data-parent="#accordion2">
                                <div class="acod-content">
                                    No, the only credit available is with the purchase of the webinar for CEU credit (LSWs only) in New York state.
                                </div>
                            </div>
                        </div>
                    </div>
                    <br /><br />
                </div>
                <div class="col-md-12">
                    <h4 class="text-uppercase m-b30">Questions On <span class="text-primary">SCHEDULING SPEAKING ENGAGEMENTS: </span></h4>
                    <div class="rdx-accordion bg-title no-cover faq-block" id="accordion4">
                        <div class="panel">
                            <div class="acod-head">
                                <h5 class="acod-title">
                                    <a data-toggle="collapse" href="#collapseOne4">
                                        <i class="fa fa-globe"></i> How does one obtain a date for a speaking engagement?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseOne4" class="acod-body collapse" data-parent="#accordion4">
                                <div class="acod-content">Complete the form request, and submit it.  Lana reviews these herself and you will be contacted with speaking date possibilities.</div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="acod-head">
                                <h5 class="acod-title"> <a data-toggle="collapse" href="#collapseTwo4" class="collapsed"><i class="fa fa-photo"></i> What subjects can Lana deliver a lecture about?</a> </h5>
                            </div>
                            <div id="collapseTwo4" class="acod-body collapse" data-parent="#accordion4">
                                <div class="acod-content">
                                    Lana is typically asked to give a 1 hour session for isolated subjects such as the diagnosis of eating disorders A 2 hour session covers the diagnosis and treatment of EDs, A lengthier session can be arranged covering a wider array of issues in a workshop setting, and a 2-day full webinar presentation is also available by request.
                                </div>
                            </div>
                        </div>
                    </div>
                    <br /><br />
                </div>

            </div>
        </div>
    </section>
    <!-- Faq END -->
</div>
<!-- contact area  END -->