﻿@{
    ViewBag.Title = "Home Page";
}

<!-- Slider -->
<div class="main-slider style-two default-banner">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <div id="rev_slider_486_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="news-gallery36" data-source="gallery" style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">
                <!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
                <div id="rev_slider_486_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-index="rs-100" data-transition="parallaxvertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="~/images/main-slider/college/slide1.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="A STUDY ON HAPPINESS" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="">
                            <!-- MAIN IMAGE -->
                            <img src="~/images/main-slider/college/Slider-1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                            <div class="tp-caption tp-shape tp-shapewrapper "
                                 id="slide-100-layer-1"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                 data-width="full"
                                 data-height="full"
                                 data-whitespace="nowrap"
                                 data-type="shape"
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 2;background-color:rgba(0, 0, 0, 0.10);border-color:rgba(0, 0, 0, 0);border-width:0px;"></div>
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption Newspaper-Subtitle slider-content-none text-primary tp-resizeme"
                                 id="slide-100-layer-2"
                                 data-x="['left','left','left','left']"
                                 data-hoffset="['50','50','50','30']"
                                 data-y="['top','top','top','top']"
                                 data-voffset="['200','200','220','170']"
                                 data-fontsize="['40','35','20','20']"
                                 data-lineheight="['45','40','25','25']"
                                 data-width="['800','800','800','420']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 7; white-space: nowrap;text-transform:left; font-family:'Poppins',sans-serif; font-weight:600;">

                            </div>
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption Newspaper-Title  tp-resizeme"
                                 id="slide-100-layer-3"
                                 data-x="['left','left','left','left']"
                                 data-hoffset="['50','50','50','30']"
                                 data-y="['top','top','top','top']"
                                 data-voffset="['260','260','270','210']"
                                 data-fontsize="['60','45','30','30']"
                                 data-lineheight="['85','85','55','35']"
                                 data-width="['1000','1000','1000','420']"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[10,10,10,10]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 6; white-space: normal;text-transform:left; font-weight:600; line-height:80px; font-family:'Poppins',sans-serif; color:#fff;">Wellness Today<span class="text-primary"> 180&#176;</span></div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption Newspaper-Title   tp-resizeme"
                                 id="slide-100-layer-4"
                                 data-x="['left','left','left','left']"
                                 data-hoffset="['50','50','50','30']"
                                 data-y="['top','top','top','top']"
                                 data-voffset="['370','370','350','260']"
                                 data-fontsize="['16','15','14','16']"
                                 data-lineheight="['22','22','22','22']"
                                 data-width="['700','600','600','420']"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[10,10,10,10]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 6; white-space: normal;text-transform:left; line-height:80px; color:#fff; font-family:'Poppins',sans-serif">
                                A user-friendly, natural approach to the prevention of eating disorders and overcoming the challenges they present when given the appropriate knowledge, tools, and support.
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption"
                                 id="slide-100-layer-5"
                                 data-x="['left','left','left','left']" data-hoffset="['53','53','50','30']"
                                 data-y="['top','top','top','top']" data-voffset="['470','470','470','420']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-responsive_offset="on"
                                 data-responsive="off"
                                 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 8; white-space: nowrap; background-color:rgba(0, 0, 0, 0) !important;">
                                <a href="#" class="site-button"><i class="fa fa-book color2"></i> LEARN MORE </a>
                            </div>
                        </li><!-- SLIDE 1 -->
                        <li data-index="rs-200" data-transition="parallaxvertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="~/images/main-slider/college/slide2.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="A STUDY ON HAPPINESS" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="">
                            <!-- MAIN IMAGE -->
                            <img src="~/images/main-slider/college/Slider-2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                            <div class="tp-caption tp-shape tp-shapewrapper "
                                 id="slide-200-layer-1"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                 data-width="full"
                                 data-height="full"
                                 data-whitespace="nowrap"
                                 data-type="shape"
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 2;background-color:rgba(0, 0, 0, 0.2);border-color:rgba(0, 0, 0, 0);border-width:0px;"></div>
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption Newspaper-Subtitle  text-primary tp-resizeme"
                                 id="slide-200-layer-2"
                                 data-x="['left','left','left','left']"
                                 data-hoffset="['50','50','50','30']"
                                 data-y="['top','top','top','top']"
                                 data-voffset="['200','200','220','170']"
                                 data-fontsize="['60','45','30','30']"
                                 data-lineheight="['45','40','25','25']"
                                 data-width="['800','800','800','420']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 7; white-space: nowrap;text-transform:left; font-family:'Poppins',sans-serif; font-weight:600;">
                            </div>
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption Newspaper-Title   tp-resizeme"
                                 id="slide-200-layer-3"
                                 data-x="['left','left','left','left']"
                                 data-hoffset="['50','50','50','30']"
                                 data-y="['top','top','top','top']"
                                 data-voffset="['260','260','270','210']"
                                 data-fontsize="['60','45','30','30']"
                                 data-lineheight="['85','85','55','35']"
                                 data-width="['1000','1000','1000','420']"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[10,10,10,10]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 6; white-space: normal;text-transform:left; font-weight:600; line-height:80px; font-family:'Poppins',sans-serif; color:#fff;">Eating Disorders in <span class="text-primary">Russia</span></div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption Newspaper-Title   tp-resizeme"
                                 id="slide-200-layer-4"
                                 data-x="['left','left','left','left']"
                                 data-hoffset="['50','50','50','30']"
                                 data-y="['top','top','top','top']"
                                 data-voffset="['370','370','350','260']"
                                 data-fontsize="['16','15','14','16']"
                                 data-lineheight="['22','22','22','22']"
                                 data-width="['700','600','600','420']"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[10,10,10,10]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 6; white-space: normal;text-transform:left; line-height:80px; color:#fff; font-family:'Poppins',sans-serif">
                                A superb webinar education for all those affected by, working with, or whom have an interest in eating disorders. 12 hours of CEUs granted to all NY state Licensed Social Workers who complete the course
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption"
                                 id="slide-200-layer-5"
                                 data-x="['left','left','left','left']"
                                 data-hoffset="['53','53','50','30']"
                                 data-y="['top','top','top','top']"
                                 data-voffset="['470','470','470','420']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-responsive_offset="on"
                                 data-responsive="off"
                                 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 8; white-space: nowrap; background-color:rgba(0, 0, 0, 0) !important;">
                                <a href="#" class="site-button"><i class="fa fa-book color2"></i> LEARN MORE </a>
                            </div>

                        </li>
                        <!-- SLIDE 3 -->
                        <li data-index="rs-300" data-transition="parallaxvertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="~/images/main-slider/college/slide3.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="A STUDY ON HAPPINESS" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="">
                            <!-- MAIN IMAGE -->
                            <img src="~/images/main-slider/college/Slider-3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                            <div class="tp-caption tp-shape tp-shapewrapper "
                                 id="slide-300-layer-1"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                 data-width="full"
                                 data-height="full"
                                 data-whitespace="nowrap"
                                 data-type="shape"
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 2;background-color:rgba(0, 0, 0, 0.2);border-color:rgba(0, 0, 0, 0);border-width:0px;"></div>
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption Newspaper-Subtitle  text-primary tp-resizeme"
                                 id="slide-300-layer-2"
                                 data-x="['left','left','left','left']"
                                 data-hoffset="['50','50','50','30']"
                                 data-y="['top','top','top','top']"
                                 data-voffset="['200','200','220','170']"
                                 data-fontsize="['40','35','20','20']"
                                 data-lineheight="['45','40','25','25']"
                                 data-width="['800','800','800','420']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 7; white-space: nowrap;text-transform:left; font-family:'Poppins',sans-serif; font-weight:600;">

                            </div>
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption Newspaper-Title   tp-resizeme"
                                 id="slide-300-layer-3"
                                 data-x="['left','left','left','left']"
                                 data-hoffset="['50','50','50','30']"
                                 data-y="['top','top','top','top']"
                                 data-voffset="['260','260','270','210']"
                                 data-fontsize="['60','45','30','30']"
                                 data-lineheight="['85','85','55','35']"
                                 data-width="['1000','1000','1000','420']"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[10,10,10,10]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 6; white-space: normal;text-transform:left; font-weight:600; line-height:80px; font-family:'Poppins',sans-serif; color:#fff;">Don’t Bully <span class="text-primary">Wooley</span></div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption Newspaper-Title   tp-resizeme"
                                 id="slide-300-layer-4"
                                 data-x="['left','left','left','left']"
                                 data-hoffset="['50','50','50','30']"
                                 data-y="['top','top','top','top']"
                                 data-voffset="['370','370','350','260']"
                                 data-fontsize="['16','15','14','16']"
                                 data-lineheight="['22','22','22','22']"
                                 data-width="['700','600','600','420']"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[10,10,10,10]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 6; white-space: normal;text-transform:left; line-height:80px; color:#fff; font-family:'Poppins',sans-serif">
                                An incredible children’s book to help identify those at risk for eating disorders and/or bullying. Contains interactive cognitive tools to assist caregivers and healthcare providers open the lines of communication between themselves and children, a completely unique and novel concept. Audiobook and musical CD included.

                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption"
                                 id="slide-300-layer-5"
                                 data-x="['left','left','left','left']"
                                 data-hoffset="['53','53','50','30']"
                                 data-y="['top','top','top','top']"
                                 data-voffset="['470','470','470','420']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-responsive_offset="on"
                                 data-responsive="off"
                                 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 8; white-space: nowrap; background-color:rgba(0, 0, 0, 0) !important;">
                                <a href="#" class="site-button"><i class="fa fa-book color2"></i> LEARN MORE </a>
                            </div>
                        </li>
                        <!-- SLIDE  -->
                        <!-- SLIDE 4 -->
                        <li data-index="rs-300" data-transition="parallaxvertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="~/images/main-slider/college/slide3.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="A STUDY ON HAPPINESS" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="">
                            <!-- MAIN IMAGE -->
                            <img src="~/images/main-slider/college/Slider-4.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                            <div class="tp-caption tp-shape tp-shapewrapper "
                                 id="slide-300-layer-1"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                 data-width="full"
                                 data-height="full"
                                 data-whitespace="nowrap"
                                 data-type="shape"
                                 data-basealign="slide"
                                 data-responsive_offset="off"
                                 data-responsive="off"
                                 data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 2;background-color:rgba(0, 0, 0, 0.2);border-color:rgba(0, 0, 0, 0);border-width:0px;"></div>
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption Newspaper-Subtitle  text-primary tp-resizeme"
                                 id="slide-300-layer-2"
                                 data-x="['left','left','left','left']"
                                 data-hoffset="['50','50','50','30']"
                                 data-y="['top','top','top','top']"
                                 data-voffset="['200','200','220','170']"
                                 data-fontsize="['40','35','20','20']"
                                 data-lineheight="['45','40','25','25']"
                                 data-width="['800','800','800','420']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 7; white-space: nowrap;text-transform:left; font-family:'Poppins',sans-serif; font-weight:600;">

                            </div>
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption Newspaper-Title   tp-resizeme"
                                 id="slide-300-layer-3"
                                 data-x="['left','left','left','left']"
                                 data-hoffset="['50','50','50','30']"
                                 data-y="['top','top','top','top']"
                                 data-voffset="['260','260','270','210']"
                                 data-fontsize="['60','45','30','30']"
                                 data-lineheight="['85','85','55','35']"
                                 data-width="['1000','1000','1000','420']"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[10,10,10,10]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 6; white-space: normal;text-transform:left; font-weight:600; line-height:80px; font-family:'Poppins',sans-serif; color:#fff;">The Scale and <span class="text-primary">the Psyche</span></div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption Newspaper-Title   tp-resizeme"
                                 id="slide-300-layer-4"
                                 data-x="['left','left','left','left']"
                                 data-hoffset="['50','50','50','30']"
                                 data-y="['top','top','top','top']"
                                 data-voffset="['370','370','350','260']"
                                 data-fontsize="['16','15','14','16']"
                                 data-lineheight="['22','22','22','22']"
                                 data-width="['700','600','600','420']"
                                 data-height="none"
                                 data-whitespace="normal"
                                 data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[10,10,10,10]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 6; white-space: normal;text-transform:left; line-height:80px; color:#fff; font-family:'Poppins',sans-serif">
                                An educational text that promotes healthcare providers’ use of natural modalities to assist their clients, guides individuals towards the concepts of wellness and prevention, and arms survivors with the skills to mindfully fight their disease and/or stay in recovery.

                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption"
                                 id="slide-300-layer-5"
                                 data-x="['left','left','left','left']"
                                 data-hoffset="['53','53','50','30']"
                                 data-y="['top','top','top','top']"
                                 data-voffset="['470','470','470','420']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-responsive_offset="on"
                                 data-responsive="off"
                                 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 8; white-space: nowrap; background-color:rgba(0, 0, 0, 0) !important;">
                                <a href="#" class="site-button"><i class="fa fa-book color2"></i> LEARN MORE </a>
                            </div>
                        </li>
                        <!-- SLIDE  -->

                    </ul>
                    <div class="tp-bannertimer tp-bottom" style="height: 5px; background-color: rgba(166, 216, 236, 1.00);"></div>
                </div>
            </div><!-- END REVOLUTION SLIDER -->
        </div>
    </div>
</div>
<!-- Slider END -->

@*<div class="section-full bg-white content-inner">
        <div class="container">
            <div class="section-content">

            </div>
        </div>
    </div>*@


<!-- About Company -->
<div class="section-full bg-white content-inner">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-lg-4 m-b30 hidden-sm">
                    <div class="rdx-thu "><img src="~/images/student1.png" alt=""></div>
                </div>
                <div class="col-lg-8">
                    <h2 class="h2 m-t0"> Welcome To <span class="text-primary">Wellness Today 180&#176; </span></h2>
                    <div class="rdx-separator bg-primary"></div>
                    <div class="clear"></div>
                    <p>
                        <strong>
                            On this site, the patient will be empowered, the caregiver will be enlightened, and the clinician will be cultivated.  With a novel and holistic approach, WT180 aims to bring a knowledge base, tools, and products to the forefront of eating disorder care that are unparalleled in the field. Initially, we offer education through a state-of-the-art webinar, a complementary and supplementary text, and an interactive children’s book.  These components bring with them a breadth of understanding, a path to healing, and a guide to transformation of the body, mind, and spirit.
                        </strong>
                    </p>
                    <p>
                        <strong>
                            Each resource presents professionals with the skills and tools to effectively identify and address the eating disordered psyche.  Participants with eating disorders will learn about their disease, but more importantly, they will learn techniques and activities to help them enter recovery.  The clinical interventions, homeopathic remedies, and stress management techniques support psychotherapeutics and delineate the benefits of teaching mindfulness to all participants.
                        </strong>
                    </p>
                    <p>
                        <strong>
                            In addition to the tools discussed here, Director Lana Grinev, LCSW-R, and WT180 offer another resource that can be tailored to meet the educational needs of any group or organization. Lana can be requested as a travelling speaker on-site to present the webinar, a general didactic lecture on a specific subject in eating disorders, or to present Don’t Bully Wooley, and how to use the book and its cognitive tools effectively with children.     Her time can be scheduled in 1Hr, 2Hr, half-day, or weekend-long increments.  Contact her via the scheduling page.
                        </strong>
                    </p>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 m-b30">
                            <div class="icon-bx-wraper left">
                                <div class="icon-bx-xs bg-primary  radius"> <a href="#" class="icon-cell"><i class="fa fa-desktop"></i></a> </div>
                                <div class="icon-content">
                                    <h5 class="rdx-tilte">WEBINAR</h5>
                                    <p>
                                        An incredibly original and unforgettable education, including a holistic and very natural approach to eating disorders. Additional focus on the Russian community and its predilection to develop .. <br />

                                    </p>
                                    <a href="@Url.Action("Index","Products")" class="site-button sm"><i class="fa fa-book color2"></i> LEARN MORE </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 m-b30">
                            <div class="icon-bx-wraper left">
                                <div class="icon-bx-xs bg-primary  radius"> <a href="#" class="icon-cell"><i class="fa fa-book color2"></i></a> </div>
                                <div class="icon-content">
                                    <h5 class="rdx-tilte">Eating Disorder</h5>
                                    <p>
                                        A concise reference on eating disorders, including diagnostic criteria, signs and symptoms, therapeutic treatment options, and naturopathic treatments from food diaries to aromatherapy, the chakras and..<br />

                                    </p>
                                    <a href="@Url.Action("Index","Products")" class="site-button small"><i class="fa fa-book color2"></i> LEARN MORE </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 m-b30">
                            <div class="icon-bx-wraper left">
                                <div class="icon-bx-xs bg-primary radius"> <a href="#" class="icon-cell"><i class="fa fa-home"></i></a> </div>
                                <div class="icon-content">
                                    <h5 class="rdx-tilte">Don’t Bully Wooley (DBW)</h5>
                                    <p>
                                        A picture book for children. Storyline is about animals in and near a farm.  One of the characters is obese, another much too thin.  Another is a classic bully.  The story involves the animals being bullied and..<br />

                                    </p>
                                    <a href="@Url.Action("Index","Products")" class="site-button small"><i class="fa fa-book color2"></i> LEARN MORE </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 m-b30">
                            <div class="icon-bx-wraper left">
                                <div class="icon-bx-xs bg-primary radius"> <a href="#" class="icon-cell"><i class="fa fa-question"></i></a> </div>
                                <div class="icon-content">
                                    <h5 class="rdx-tilte">Frequently Asked Questions (FAQ) </h5>
                                    <p>
                                        Lana Grinev has a voice and perspective like no other.  As a survivor of eating disorders, her ability to address and captivate her audience is exquisite.  She is a natural educator, and her public speaking skills are..

                                    </p>
                                    <a href="@Url.Action("FAQ","Home")" class="site-button"><i class="fa fa-book color2"></i> LEARN MORE </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 m-b30">
                            <div class="icon-bx-wraper left">
                                <div class="icon-bx-xs bg-primary radius"> <a href="#" class="icon-cell"><i class="fa fa-microphone"></i></a> </div>
                                <div class="icon-content">
                                    <h5 class="rdx-tilte">Schedule Speaking Engagement</h5>
                                    <p>
                                        Lana Grinev has a voice and perspective like no other.  As a survivor of eating disorders, her ability to address and captivate her audience is exquisite.  She is a natural educator, and her ..

                                    </p>
                                    <a href="@Url.Action("TakeAppointment","Home")" class="site-button"><i class="fa fa-book color2"></i> LEARN MORE </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 m-b30">
                            <div class="icon-bx-wraper left">
                                <div class="icon-bx-xs bg-primary radius"> <a href="#" class="icon-cell"><i class="fa fa-phone"></i></a> </div>
                                <div class="icon-content">
                                    <h5 class="rdx-tilte">Contact Us</h5>
                                    <p>
                                        All methods to contact Wellness Today 180° and Lana Grinev are listed, including Email message form.  Contact her with any questions about speaking, educational tools, or ..

                                    </p>
                                    <a href="@Url.Action("Contact","Home")" class="site-button"><i class="fa fa-book color2"></i> LEARN MORE </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Company END -->

<!-- About Author And WT180-->

<div class="section-full text-white bg-img-fix content-inner bg-primary choose-us" style="background-image:url(../images/background/patter-bg.png);">
    <div class="container">
        <div class="section-head  text-center text-white">
            <h2 class="h2">About</h2>
            <div class="rdx-separator-outer "><div class="rdx-separator bg-white style-liner"></div></div>
            
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 m-b30">
                <div class="icon-bx-wraper bx-style-1 p-a20 center radius-sm">
                    <div class="icon-bx-md radius bg-white m-b20">
                        <img src="~/Images/our-team/LanaGrinevWhite.jpg" class="rounded-circle" alt="Lana Grinev" height="300px;" style="min-height:100px;" />
                        @*<span class="icon-cell text-primary"><i class="fa fa-bus"></i></span>*@
                    </div>
                    <div class="icon-content">
                        <h4 class="rdx-tilte">Author</h4>
                        <p>
                            Lana Grinev, LCSW-R is a family-loving mother of 3, the Deputy Executive Director of a New York City agency, and a survivor of obesity, bulimia nervosa and anorexia nervosa.  Born in Moldova, her family immigrated to the United States when she was only four-years-old.  She has lived in Brooklyn, New York all her life, and although she is a Russian immigrant- one of 1.6 million in NY- she is very much an...
                        </p>
                        <a href="@Url.Action("About","Home")" class="site-button white" style="color:#029EB7;"><i class="fa fa-book colorWhite"></i>  Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 m-b30">
                <div class="icon-bx-wraper bx-style-1 p-a20 center radius-sm">
                    <div class="icon-bx-md radius bg-white m-b20">
                        <img src="~/Images/WT180_Logo_NoText.png" class="rounded-circle" alt="Lana Grinev" height="300px;" style="min-height:100px;" />
                        
                    </div>
                    <div class="icon-content">
                        <h4 class="rdx-tilte">WT 180</h4>
                        <p>
                            WT180 is the brainchild of Lana Grinev, LCSW-R.  The moniker represents Lana’s lifelong personal experience enduring body shaming and bullying, and ultimately persevering to live a life reflective of a positive body image. After many years grappling with one eating disorder or another, she is able to embrace the world, but free of weight preoccupation and size prejudice. Lana’s creation of WT180 is a direct response to her formative...
                        </p><i class="fas fa-book-open"></i>
                        <a class="site-button white"  href="@Url.Action("About","Home")" style="color:#029EB7;" ><i class="fa fa-book colorWhite"></i>  Read More</a>
                        
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
<style type="text/css">
    .colorWhite {
        color: #029EB7;
        margin-right:5px;
    }

    .color2 {
        margin-right: 5px;
    }

    .icon-cell {
        color: #029EB7;
    }
</style>

<!-- About Author And WT180-->

<!--Make an appointment-->
@*<div class="section-full bg-img-fix p-t80 p-b80 overlay-black-light our-projects-galery" style="background-image:url(../images/main-slider/appoint-2.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-6">
                <div class="rdx-book-now-content text-white">

                    <h2 class="h2">About <span class="text-primary"> Author</span></h2>
                    <div class="rdx-separator bg-white"></div>
                    <div class="row">
                        <div class="col-md-4 col-lg-4"><img src="~/Images/our-team/LanaGrinevWhite.jpg" class="rounded-circle" alt="Lana Grinev" height="300px;" style="max-height:200px;" /></div>
                        <div class="col-md-8 col-lg-8">
                            <p>
                                Lana Grinev, LCSW-R is a family-loving mother of 3, the Deputy Executive Director of a New York City agency, and a survivor of obesity, bulimia nervosa and anorexia nervosa.  Born in Moldova, her family immigrated to the United States when she was only four-years-old.  She has lived in Brooklyn, New York all her life, and although she is a Russian immigrant- one of 1.6 million in NY- she is very much an ...
                            </p>
                            <a href="" class="site-button ">Read More</a>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>*@
<!--Make an appointment END-->
<!-- Our Awesome Services -->
<div class="section-full box-shadow bg-white content-inner">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12 text-center section-head">
                    <h2 class="h2"><span class="text-primary">Welness Today 180&#176; Services</span></h2>
                    <div class="rdx-separator-outer"><div class="rdx-separator bg-primary style-liner"></div></div>
                    <div class="clear"></div>
                    <p class="m-b0">Our service to valuable clients are including but not limited to as follows: </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 m-b30">
                    <div class="rdx-box rdx-img-effect rotate">
                        <div class="rdx-media"> <a href="#"><img src="images/our-services/college/Couselling.jpg" alt=""></a> </div>
                        <div class="rdx-info p-a20 border-1 text-center">
                            <h2 class="rdx-title m-t0 m-b10 font-weight-700"><a href="#">Couselling</a></h2>
                            <p>Lorem ipsum dolor Fusce varius euismod lacus eget feugiat rorem ipsum dolor consectetur Fusce varius [...] </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 m-b30">
                    <div class="rdx-box rdx-img-effect rotate">
                        <div class="rdx-media"> <a href="#"><img src="images/our-services/college/Education.jpg" alt=""></a> </div>
                        <div class="rdx-info p-a20 border-1 text-center">
                            <h2 class="rdx-title m-t0 m-b10 font-weight-700"><a href="#">Education</a></h2>
                            <p>Lorem ipsum dolor Fusce varius euismod lacus eget feugiat rorem ipsum dolor consectetur Fusce varius [...] </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 m-b10">
                    <div class="rdx-box rdx-img-effect rotate">
                        <div class="rdx-media "> <a href="#"><img src="images/our-services/college/Guidance.jpg" alt=""></a> </div>
                        <div class="rdx-info p-a20 border-1 text-center">
                            <h2 class="rdx-title m-t0 m-b10 font-weight-700"><a href="#">Guidance</a></h2>
                            <p>Lorem ipsum dolor Fusce varius euismod lacus eget feugiat rorem ipsum dolor consectetur Fusce varius [...] </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our Awesome Services END -->
