﻿@model WebApplication2.Models.TakeAppointMentModel

@{
    ViewBag.Title = "Take Appointment";
}
<!--Make an appointment-->
<div class="section-full bg-img-fix p-t80 p-b80 overlay-black-light our-projects-galery" style="background-image:url(../images/main-slider/appoint-2.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-6">
                <div class="text-white">
                    <h2 class="h2">Appointment With <span class="text-primary">Lana Grinev</span></h2>
                    <div class="rdx-separator bg-white"></div>
                    <div class="row">
                        <div class="col-md-4 col-lg-4"><img src="~/Images/our-team/LanaGrinevWhite.jpg" class="rounded-circle" alt="Lana Grinev" height="300px;" style="max-height:200px;" /></div>
                        <div class="col-md-8 col-lg-8">
                            <p>
                                Lana Grinev, LCSW-R has a personal goal of educating as many people as possible on the subject of eating disorders.  
                                The more people with knowledge of the diseases and their associated features, the more effective prevention becomes.  
                                Recognizing eating disorders early in their development is truly critical to save lives.  
                                It is also paramount that the people suffering from these disorders have resources and avenues made accessible to them to seek out help. 
                                It is in this vein that Lana brings her knowledge, her experience, her voice and her empathy to schools, companies, and other institutions in need of an education on eating disorders.  
                                Lana is able to tailor the program to meet your group’s needs. You may select the timeframe and subject material. 
                                Lana will review this request herself and be in touch soon.
                            </p>
                            <p>
                                It is also paramount that the people suffering from these disorders have resources and avenues made accessible to them to seek out help.
                                It is in this vein that Lana brings her knowledge, her experience, her voice and her empathy to schools, companies, and other institutions in need of an education on eating disorders.
                                Lana is able to tailor the program to meet your group’s needs. You may select the timeframe and subject material.
                                Lana will review this request herself and be in touch soon.
                            </p>

                            @*<a href="" class="site-button ">Read More</a>*@
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="p-lr40 p-t30 rdx-book-now-form p-b40 tp-dark clearfix bg-black ">
                    <form method="post" class="#" action="@Url.Action("TakeAppointment", "Home", Model)" >
                        <input type="hidden" value="Appoinment" name="dzToDo">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 text-center m-b30 text-white">
                                <h2 class=" m-t0 m-b10">Appoint <span class="text-primary">Now </span></h2>
                                <div class="rdx-separator-outer">
                                    <div class="rdx-separator bg-primary style-liner"></div>
                                </div>
                                <p class="title-small ">Please provide all the information and detail description below. </p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input name="dzName" class="form-control" placeholder="Name" type="text" value="@Model.Name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input name="dzEmail" class="form-control" placeholder="Email" type="text" value="@Model.Email">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input name="dzCompany" class="form-control" placeholder="Company" type="text" value="@Model.Company">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input name="dzPhone" class="form-control" placeholder="Phone" type="text" value="@Model.Phone">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input name="dzOther[date]" class="form-control" placeholder="Goad Date of Engagement" type="date" value="@Model.SheduledDateTime">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <select class="bs-select-hidden" name="dzTimeCommitment[service]">
                                        <option value="null" selected>Select Time Commitment </option>
                                        <option value="1h">One hour speaking</option>
                                        <option value="2h">Two hour speaking</option>
                                        <option value="4h">4 hour spewaking</option>
                                        <option value="2d">Two day complete webinar program</option>
                                        <option value="other">Others</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label class="">No Of Enticipated Attendees</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input name="dzNoAttendees" class="form-control" placeholder="Number of Anticipated Attendees" type="number" value="@Model.NoOfEnticipatedAttendees">
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <input name="dzAddress" rows="2" class="form-control" placeholder="Address with area code" type="text" value="@Model.Address">
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <textarea name="dzMessage" rows="6" class="form-control" placeholder=" Specific Speaking Request/Message:
" required="">@Model.SpeakingRequestOn</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                                <div class="dzFormMsg "></div>
                                <button name="Reset" value="Reset" type="reset" class="site-button skew-secondry"><span>Reset</span></button>
                                <button name="submit" type="submit" value="Submit" class="site-button skew-secondry"><span>Submit</span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Make an appointment END-->