﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- FAVICONS ICON -->
    <link rel="icon" href="~/images/WT180_LogoGreyText.svg" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/WT180_LogoGreyText.svg" />

    <title>Wellness Today 180</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="~/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link class="skin" rel="stylesheet" type="text/css" href="~/css/skin/skin-3.css">
    <link rel="stylesheet" type="text/css" href="~/css/templete.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700">
    <link href="@Url.Content("~/Content/custom-product-package.css")" rel="stylesheet" type="text/css" />

    <!-- REVOLUTION SLIDER CSS -->
    <link rel="stylesheet" type="text/css" href="~/plugins/revolution/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/revolution/revolution/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="~/css/plugins.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/skin/skin-3.css" />
    <link rel="stylesheet" type="text/css" href="~/css/templete.css" />

    <!-- PAGE TITLE HERE -->
    <title>@ViewBag.Title - Wellness Today 180</title>
</head>
<body id="bg">
    <div class="page-wraper">
        <!-- Content -->
        <div class="page-content one-page-layout">
            <div class="sidenav full-page navbar sticky-header onepage" id="mySidenav">
                <div class="logo-header mostion">
                    <a href="index.html">
                        <img src="~/images/WT180_Logo_NoText.svg" alt="">
                        @*<img src="~/images/logo_WT180.png" width="193" height="89" alt="">*@
                    </a>
                </div>
                <a href="javascript:void(0)" class="closebtn bg-primary ">&times;</a>
                <div class="clearfix"></div>
                <div id="myNavbar" style="margin-left:30px;font-size:20px;">
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Administrator"))
                        {
                            <ul class="p-b100 nav">
                                <li>
                                    @Html.ActionLink("Dashboard", "Dashboard", "Admin")
                                </li>
                                <li>
                                    @Html.ActionLink("Sales", "Sales", "Admin")
                                </li>
                                <li>
                                    @Html.ActionLink("Users", "Users", "Admin")
                                </li>
                                <li>
                                    @Html.ActionLink("Referrals", "Referrals", "Admin")
                                </li>
                                <li>
                                    @Html.ActionLink("Return Home", "Index", "Home")
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul class="p-b100 nav">
                                @*<li>
                                    @Html.ActionLink("Dashboard", "Dashboard", "User")
                                </li>*@
                                <li>
                                    @Html.ActionLink("Profile", "Profile", "User")
                                </li>
                                <li>
                                    @Html.ActionLink("My Products", "Products", "User")
                                </li>
                                <li>
                                    @Html.ActionLink("Return Home", "Index", "Home")
                                </li>
                            </ul>
                        }
                    }

                </div>
                @*<div class="left-footer-menu p-b10">
                        <ul class="list-inline footer-social text-center m-b0">
                            <li><a href="javascript:void(0);" class="fa fa-facebook bg-primary"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-twitter bg-primary"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-linkedin bg-primary"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-google-plus bg-primary"></a></li>
                        </ul>
                    </div>*@
            </div>

            <div id="main" class="">
                <div class="section-full bg-white content-inner">
                    <div class="contant-block">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <!-- JavaScript  files ========================================= -->
        <script src="@Url.Content("~/js/jquery.min.js")"></script><!-- JQUERY.MIN JS -->
        <script src="@Url.Content("~/plugins/bootstrap/js/popper.min.js")"></script><!-- BOOTSTRAP.MIN JS -->
        <script src="@Url.Content("~/plugins/bootstrap/js/bootstrap.min.js")"></script><!-- BOOTSTRAP.MIN JS -->
        <script src="@Url.Content("~/plugins/bootstrap-select/bootstrap-select.min.js")"></script><!-- FORM JS -->
        <script src="@Url.Content("~/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js")"></script><!-- FORM JS -->
        <script src="@Url.Content("~/plugins/magnific-popup/magnific-popup.js")"></script><!-- MAGNIFIC POPUP JS -->
        <script src="@Url.Content("~/plugins/counter/waypoints.js")"></script><!-- WAYPOINTS JS -->
        <script src="@Url.Content("~/plugins/counter/counterup.min.js")"></script><!-- COUNTERUP JS -->
        <script src="@Url.Content("~/plugins/imagesloaded/imagesloaded.js")"></script><!-- IMAGESLOADED -->
        <script src="@Url.Content("~/plugins/masonry/masonry-3.1.4.js")"></script><!-- MASONRY -->
        <script src="@Url.Content("~/plugins/masonry/masonry.filter.js")"></script><!-- MASONRY -->
        <script src="@Url.Content("~/plugins/owl-carousel/owl.carousel.js")"></script><!-- OWL SLIDER -->
        <script src="@Url.Content("~/js/custom.js")"></script><!-- CUSTOM FUCTIONS  -->
        <script src="@Url.Content("~/js/dz.carousel.js")"></script><!-- SORTCODE FUCTIONS  -->
        <script src="@Url.Content("~/js/dz.ajax.js")"></script><!-- CONTACT JS  -->
        <!-- REVOLUTION JS FILES -->
        <script src="@Url.Content("~/plugins/revolution/revolution/js/jquery.themepunch.tools.min.js")"></script>
        <script src="@Url.Content("~/plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js")"></script>
        <!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
        <script src="@Url.Content("~/plugins/revolution/revolution/js/extensions/revolution.extension.actions.min.js")"></script>
        <script src="@Url.Content("~/plugins/revolution/revolution/js/extensions/revolution.extension.carousel.min.js")"></script>
        <script src="@Url.Content("~/plugins/revolution/revolution/js/extensions/revolution.extension.kenburn.min.js")"></script>
        <script src="@Url.Content("~/plugins/revolution/revolution/js/extensions/revolution.extension.layeranimation.min.js")"></script>
        <script src="@Url.Content("~/plugins/revolution/revolution/js/extensions/revolution.extension.migration.min.js")"></script>
        <script src="@Url.Content("~/plugins/revolution/revolution/js/extensions/revolution.extension.navigation.min.js")"></script>
        <script src="@Url.Content("~/plugins/revolution/revolution/js/extensions/revolution.extension.parallax.min.js")"></script>
        <script src="@Url.Content("~/plugins/revolution/revolution/js/extensions/revolution.extension.slideanims.min.js")"></script>
        <script src="@Url.Content("~/plugins/revolution/revolution/js/extensions/revolution.extension.video.min.js")"></script>
        <script src="@Url.Content("~/js/rev.slider.js")"></script>

        <script>
            jQuery(document).ready(function () {
                'use strict';
                dz_rev_slider_1();
            });	/*ready*/
        </script>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @*@Scripts.Render("~/bundles/plugins")
            @Scripts.Render("~/bundles/js")*@
        @Styles.Render("~/bundles/css2")
        @RenderSection("scripts", required: false)
</body>
</html>
