﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- FAVICONS ICON -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />

    <title>Wellness Today 180</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="css/plugins.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link class="skin" rel="stylesheet" type="text/css" href="css/skin/skin-3.css">
    <link rel="stylesheet" type="text/css" href="css/templete.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700">
    <link href="@Url.Content("~/Content/custom-product-package.css")" rel="stylesheet" type="text/css" />

    <!-- REVOLUTION SLIDER CSS -->
    <link rel="stylesheet" type="text/css" href="~/plugins/revolution/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/revolution/revolution/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="~/css/plugins.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/skin/skin-3.css" />
    <link rel="stylesheet" type="text/css" href="~/css/templete.css" />

    <!-- PAGE TITLE HERE -->
    <title>@ViewBag.Title - Wellness Today 180</title>
</head>
<body id="bg">

    <div id="loading-area"></div>
    <div class="page-wraper">
        <!-- header -->
        <header class="site-header header mo-left header-style-1">
            <!-- top bar -->
            <div class="top-bar">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="rdx-topbar-left">
                            <ul class="social-bx list-inline pull-right">
                                <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-google-plus"></a></li>
                            </ul>
                        </div>
                        <div class="rdx-topbar-right list-unstyled e-p-bx ">
                            <ul>
                                <li><i class="fa fa-envelope"></i><span>info@example.com</span></li>
                                <li><i class="fa fa-phone"></i><span>+141 1234 567 890</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- top bar END-->
            <!-- main header -->
            <div class="sticky-header header-curve main-bar-wraper navbar-expand-lg">
                <div class="main-bar bg-primary clearfix ">
                    <div class="container clearfix">
                        <!-- website logo -->
                        <div class="logo-header mostion"><a href="index.html"><img src="images/logo.png" width="193" height="89" alt=""></a></div>

                        <!-- nav toggle button -->
                        <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>

                        <!-- extra nav -->
                        @*<div class="extra-nav">
                                <div class="extra-cell">
                                    <a href="#" type="button" class="site-button white ">Get In Touch</a>
                                </div>
                            </div>*@

                        <!-- main nav -->
                        <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Home", "Index", "Home", new { @class = "navbar-brand" })</li>

                                <li>@Html.ActionLink("Eating Disorder", "EatingDisorderInfo", "Home")</li>
                                <li>
                                    <a href="#" role="button" data-toggle="dropdown">Education<i class="fa fa-chevron-down"></i></a>
                                    <ul class="sub-menu">
                                        <li>@Html.ActionLink("Products", "Index", "Products")</li>
                                        <li>@Html.ActionLink("Don't Bully Wooley Book", "DBWBook", "Products")</li>
                                        <li>@Html.ActionLink("Eating Disorder", "EatingDisorder", "Products")</li>
                                        <li>@Html.ActionLink("Webinar", "Webinar", "Products")</li>
                                    </ul>
                                </li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("FAQ", "FAQ", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                <li>@Html.ActionLink("Appointment", "TakeAppointment", "Home")</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <!-- main header END -->
        </header>
        <!-- header END -->

        <div class="page-content">
            @RenderBody()
        </div>

        <!-- Footer -->
        <footer class="site-footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="widget widget_about">
                                <div class="logo-footer"><img src="images/logo-white.png" alt=""></div>
                                <p class="m-tb20"><strong>EduCare</strong> Lorem ipsum dolor sit amet, cons ectetur elit. Vestibulum nec odios Suspe ndisse cursus.  cons ectetur elit. Vestibulum nec odios Lorem ipsum dolor sit amet, cons ectetur elit. Vestibulum nec.</p>
                                <ul class="rdx-social-icon rdx-border rdx-social-icon-lg">
                                    <li><a href="javascript:void(0);" class="fa fa-facebook fb-btn"></a></li>
                                    <li><a href="javascript:void(0);" class="fa fa-twitter tw-btn"></a></li>
                                    <li><a href="javascript:void(0);" class="fa fa-linkedin link-btn"></a></li>
                                    <li><a href="javascript:void(0);" class="fa fa-pinterest-p pin-btn"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="widget recent-posts-entry">
                                <h4 class="m-b15 text-uppercase">Recent Post</h4>
                                <div class="rdx-separator bg-primary"></div>
                                <div class="widget-post-bx">
                                    <div class="widget-post clearfix">
                                        <div class="rdx-post-media"> <img src="images/blog/recent-blog/pic1.jpg" alt="" width="200" height="143"> </div>
                                        <div class="rdx-post-info">
                                            <div class="rdx-post-header">
                                                <h6 class="post-title text-uppercase"><a href="blog-single.html">Title of first blog</a></h6>
                                            </div>
                                            <div class="rdx-post-meta">
                                                <ul>
                                                    <li class="post-author">By <a href="#">Admin</a></li>
                                                    <li class="post-comment"><i class="fa fa-comments"></i> 28</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-post clearfix">
                                        <div class="rdx-post-media"> <img src="images/blog/recent-blog/pic2.jpg" alt="" width="200" height="160"> </div>
                                        <div class="rdx-post-info">
                                            <div class="rdx-post-header">
                                                <h6 class="post-title text-uppercase"><a href="blog-single.html">Title of first blog</a></h6>
                                            </div>
                                            <div class="rdx-post-meta">
                                                <ul>
                                                    <li class="post-author">By <a href="#">Admin</a></li>
                                                    <li class="post-comment"><i class="fa fa-comments"></i> 28</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-post clearfix">
                                        <div class="rdx-post-media"> <img src="images/blog/recent-blog/pic3.jpg" alt="" width="200" height="160"> </div>
                                        <div class="rdx-post-info">
                                            <div class="rdx-post-header">
                                                <h6 class="post-title  text-uppercase"><a href="blog-single.html">Title of first blog</a></h6>
                                            </div>
                                            <div class="rdx-post-meta">
                                                <ul>
                                                    <li class="post-author">By <a href="#">Admin</a></li>
                                                    <li class="post-comment"><i class="fa fa-comments"></i> 28</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="widget widget_services">
                                <h4 class="m-b15 text-uppercase">Our services</h4>
                                <div class="rdx-separator bg-primary"></div>
                                <ul>
                                    <li><a href="#">Course Price Lists</a></li>
                                    <li><a href="#">Drive School İnfo</a></li>
                                    <li><a href="#">Our Vehicle Lİst</a></li>
                                    <li><a href="#">Usefull Link 01</a></li>
                                    <li><a href="#">Our Support Team</a></li>
                                    <li><a href="#">FAQS </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="widget widget_getintuch">
                                <h4 class="m-b15 text-uppercase">Contact us</h4>
                                <div class="rdx-separator bg-primary"></div>
                                <ul>
                                    <li><i class="fa fa-map-marker"></i><strong>address</strong> demo address #8901 Marmora Road Chi Minh City, Vietnam </li>
                                    <li><i class="fa fa-phone"></i><strong>phone</strong>0800-123456 (24/7 Support Line)</li>
                                    <li><i class="fa fa-fax"></i><strong>FAX</strong>(123) 123-4567<br />000 123 2294 089</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer bottom part -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 text-left">
                            <span>© Copyright 2017</span>
                        </div>
                        <div class="col-lg-4 text-center">
                            <span> Design With <i class="fa fa-heart text-red heart"></i> By RdxTheme </span>
                        </div>
                        <div class="col-lg-4 text-right">
                            <a href="about-2.html"> About</a>
                            <a href="help.html"> Help Desk</a>
                            <a href="privacy-policy.html"> Privacy Policy</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer END-->
        <!-- scroll top button -->
        <button class="scroltop fa fa-arrow-up"></button>
    </div>


    <!-- JavaScript  files ========================================= -->
    <script src="@Url.Content("~/js/jquery.min.js")"></script><!-- JQUERY.MIN JS -->
    <script src="@Url.Content("~/plugins/bootstrap/js/popper.min.js")"></script><!-- BOOTSTRAP.MIN JS -->
    <script src="@Url.Content("~/plugins/bootstrap/js/bootstrap.min.js")"></script><!-- BOOTSTRAP.MIN JS -->
    <script src="@Url.Content("~/plugins/bootstrap-select/bootstrap-select.min.js")"></script><!-- FORM JS -->
    <script src="@Url.Content("~/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js")"></script><!-- FORM JS -->
    <script src="@Url.Content("~/plugins/magnific-popup/magnific-popup.js")"></script><!-- MAGNIFIC POPUP JS -->
    <script src="@Url.Content("~/plugins/counter/waypoints.js")"></script><!-- WAYPOINTS JS -->
    <script src="@Url.Content("~/plugins/counter/counterup.min.js")"></script><!-- COUNTERUP JS -->
    <script src="@Url.Content("~/plugins/imagesloaded/imagesloaded.js")"></script><!-- IMAGESLOADED -->
    <script src="@Url.Content("~/plugins/masonry/masonry-3.1.4.js")"></script><!-- MASONRY -->
    <script src="@Url.Content("~/plugins/masonry/masonry.filter.js")"></script><!-- MASONRY -->
    <script src="@Url.Content("~/plugins/owl-carousel/owl.carousel.js")"></script><!-- OWL SLIDER -->
    <script src="@Url.Content("~/js/custom.js")"></script><!-- CUSTOM FUCTIONS  -->
    <script src="@Url.Content("~/js/dz.carousel.js")"></script><!-- SORTCODE FUCTIONS  -->
    <script src="@Url.Content("~/js/dz.ajax.js")"></script><!-- CONTACT JS  -->
    <!-- REVOLUTION JS FILES -->
    <script src="@Url.Content("~/plugins/revolution/revolution/js/jquery.themepunch.tools.min.js")"></script>
    <script src="@Url.Content("~/plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js")"></script>
    <!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="@Url.Content("~/plugins/revolution/revolution/js/extensions/revolution.extension.actions.min.js")"></script>
    <script src="@Url.Content("~/plugins/revolution/revolution/js/extensions/revolution.extension.carousel.min.js")"></script>
    <script src="@Url.Content("~/plugins/revolution/revolution/js/extensions/revolution.extension.kenburn.min.js")"></script>
    <script src="@Url.Content("~/plugins/revolution/revolution/js/extensions/revolution.extension.layeranimation.min.js")"></script>
    <script src="@Url.Content("~/plugins/revolution/revolution/js/extensions/revolution.extension.migration.min.js")"></script>
    <script src="@Url.Content("~/plugins/revolution/revolution/js/extensions/revolution.extension.navigation.min.js")"></script>
    <script src="@Url.Content("~/plugins/revolution/revolution/js/extensions/revolution.extension.parallax.min.js")"></script>
    <script src="@Url.Content("~/plugins/revolution/revolution/js/extensions/revolution.extension.slideanims.min.js")"></script>
    <script src="@Url.Content("~/plugins/revolution/revolution/js/extensions/revolution.extension.video.min.js")"></script>
    <script src="@Url.Content("~/js/rev.slider.js")"></script>

    <script>
        jQuery(document).ready(function () {
            'use strict';
            dz_rev_slider_1();
        });	/*ready*/
    </script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/plugins")
        @Scripts.Render("~/bundles/js")*@
    @Styles.Render("~/bundles/css2")
    @RenderSection("scripts", required: false)
</body>
</html>
