﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="list-unstyled e-p-bx col-md-4 col-lg-4">
            <ul class="social-bx list-inline pull-left">
                <li>
                    <a href="@Url.Action("MyOrder","Cart")">
                        <i class="fas fa-shopping-cart"></i><span class="badge">@Session["count"]</span>
                    </a>
                </li>
                @if (User.IsInRole("Administrator"))
                {
                    <li>@Html.ActionLink("Admin Panel", "Dashboard", "Admin", routeValues: null, htmlAttributes: new { title = "Admin Panel" })</li>
                }

                @if (!User.IsInRole("Administrator"))
                {
                    <li>@Html.ActionLink("User Panel", "Profile", "User", routeValues: null, htmlAttributes: new { title = "User Panel" })</li>
                }
                <li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

            </ul>
        </div>
    }
}
else
{
    <div class="list-unstyled e-p-bx col-md-2 col-lg-2">
        <ul class="social-bx list-inline pull-right">
            <li><a href="@Url.Action("MyOrder","Cart")"><i class="fa fa-shopping-cart" style="font-size:16px;color:red"></i><span class="badge">@Session["count"]</span></a></li>
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    </div>
}
