﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- FAVICONS ICON -->
    <link rel="icon" href="~/images/WT180_Logo_NoText.png" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/WT180_Logo_NoText.png" />

    <title>Wellness Today 180</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="~/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link class="skin" rel="stylesheet" type="text/css" href="~/css/skin/skin-3.css">
    <link rel="stylesheet" type="text/css" href="~/css/templete.css">
    @*@Styles.Render("~/Content/revolution")*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700">
    <link href="@Url.Content("~/Content/custom-product-package.css")" rel="stylesheet" type="text/css" />

    <!-- REVOLUTION SLIDER CSS -->
    <link rel="stylesheet" type="text/css" href="~/plugins/revolution/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/revolution/revolution/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/revolution/revolution/css/settings-ver.5.2.3.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/revolution/revolution/css/navigation-skins/custom.css">
    <link rel="stylesheet" type="text/css" href="~/css/plugins.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/skin/skin-3.css" />
    <link rel="stylesheet" type="text/css" href="~/css/templete.css" />

    <!-- PAGE TITLE HERE -->
    <title>@ViewBag.Title - Wellness Today 180</title>
</head>
<body id="bg">

    @*<div id="loading-area"></div>*@
    <div class="page-wraper">
        <!-- header -->
        <header class="site-header header mo-left header-style-1 dark">
            <div class="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <ul class="social-bx list-inline pull-left">
                                <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-google-plus"></a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-4"></div>
                        
                            @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>

            <!-- top bar -->
            @*<div class="top-bar">
                <div class="container">
                    <div class="row ">
                        <div class="">
                            <ul class="social-bx list-inline col-md-12 col-sm-12 col-lg-12">
                                <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-google-plus"></a></li>
                            </ul>
                        </div>
                        <div class="e-p-bx col-md-12 col-lg-12 col-sm-12 ">
                            @Html.Partial("_LoginPartial")*@
                            @*<ul>
                            <li><i class="fa fa-envelope"></i><span>info@example.com</span></li>
                            <li><i class="fa fa-phone"></i><span>+141 1234 567 890</span></li>
                        </ul>*@
                        @*</div>
                    </div>
                </div>
            </div>*@
            <!-- top bar END-->
            <!-- main header -->
            <div class="sticky-header header-curve main-bar-wraper navbar-expand-lg">
                <div class="main-bar bg-primary clearfix ">
                    <div class="container clearfix">
                        <!-- website logo -->
                        <div class="logo-header mostion">
                            <a href="@Url.Action("Index","Home")">
                                <img src="~/images/WT180_LogoGreyText.svg" style="width:300px; min-width:250px;max-height:120px;" alt="">
                            </a>
                        </div>

                        <!-- nav toggle button -->
                        <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>

                        <!-- extra nav -->
                        @*<div class="extra-nav">
                                        <div class="extra-cell">
                                            <a href="#" type="button" class="site-button white ">Get In Touch</a>
                                        </div>
                    </div>*@

                        <!-- main nav -->
                        <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>

                                <li>@Html.ActionLink("ED EDUCATION", "EatingDisorderInfo", "Home")</li>
                                <li>@Html.ActionLink("DBW", "Index", "Products", new { id = "12341234" })</li>
                                <li>
                                    @Html.ActionLink("Store", "Index", "Products")
                                    @*<a href="#" role="button" data-toggle="dropdown">Education<i class="fa fa-chevron-down"></i></a>
            <ul class="sub-menu">
                <li>@Html.ActionLink("Contents", "Index", "Products")</li>*@
                                    @*<li>@Html.ActionLink("Don't Bully Wooley Book", "DBWBook", "Products")</li>
            <li>@Html.ActionLink("Eating Disorder", "EatingDisorder", "Products")</li>
            <li>@Html.ActionLink("Webinar", "Webinar", "Products")</li>*@
                                    @*</ul>*@
                                </li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("FAQ", "FAQ", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                <li>@Html.ActionLink("Speaking Engagement", "TakeAppointment", "Home")</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <!-- main header END -->
        </header>
        <!-- header END -->
        <div class="page-content">

            @RenderBody()
        </div>

        <!-- Footer -->
        <footer class="site-footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="widget widget_about">
                                <div class="logo-footer"><img src="~/images/WT180_LogoWhiteText.svg" style="width:500px; min-width:450px;max-height:120px;" alt=""></div>
                                <p class="m-tb20"><strong>Wellness Today 180</strong><br /> Changing today to ensure tomorrow  .</p>
                                <ul class="rdx-social-icon rdx-border rdx-social-icon-lg">
                                    <li><a href="javascript:void(0);" class="fa fa-facebook fb-btn"></a></li>
                                    <li><a href="javascript:void(0);" class="fa fa-twitter tw-btn"></a></li>
                                    <li><a href="javascript:void(0);" class="fa fa-linkedin link-btn"></a></li>
                                    <li><a href="javascript:void(0);" class="fa fa-pinterest-p pin-btn"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="widget widget_services">
                                <h4 class="m-b15 text-uppercase">Our services</h4>
                                <div class="rdx-separator bg-primary"></div>
                                <ul>
                                    <li><a href="@Url.Action("Index","Products")">Webinar for LSW CEUs</a></li>
                                    <li><a href="@Url.Action("Index","Products")">Children’s Book: Don’t Bully Wooley</a></li>
                                    <li><a href="@Url.Action("Index","Products")">The Scale and the Psyche</a></li>
                                    <li><a href="@Url.Action("TakeAppointment","Home")">Scheduling Lana Grinev for a Speaking Engagement</a></li>
                                    <li><a href="@Url.Action("FAQ","Home")">FAQS </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="widget widget_getintuch">
                                <h4 class="m-b15 text-uppercase">Contact us</h4>
                                <div class="rdx-separator bg-primary"></div>
                                <ul>
                                    <li><i class="fa fa-map-marker"></i><strong>P.O. Box</strong> LanaGrinevLCSW-R<br />PsychotherapyPLLC  <br /> 340893 Brooklyn, ny 11234  </li>
                                    <li><i class="fa fa-phone"></i><strong>PHONE</strong>+1 347 666 7225</li>
                                    <li><i class="fa fa-fax"></i><strong>EMAIL</strong>LanaGrinevLCSW@gmail.com</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer bottom part -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 text-left">
                            <span>©@DateTime.Now.Year</span>
                        </div>
                        @*<div class="col-lg-4 text-center">
                                <span> Design With <i class="fa fa-heart text-red heart"></i> </span>
                            </div>*@
                        <div class="col-lg-4 text-right">
                            <a href="@Url.Action("About","Home")"> About</a>
                            <a href="@Url.Action("Privacy","Home")"> Privacy Policy</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer END-->
        <!-- scroll top button -->
        <button class="scroltop fa fa-arrow-up"></button>
    </div>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/plugins")
        @Scripts.Render("~/bundles/js")*@
    @Styles.Render("~/bundles/css2")
    @Styles.Render("~/Content/revolution")
    @RenderSection("scripts", required: false)

    <!-- JavaScript  files ========================================= -->
    <script src="@Url.Content("~/js/jquery.min.js")"></script><!-- JQUERY.MIN JS -->
    <script src="@Url.Content("~/plugins/bootstrap/js/popper.min.js")"></script><!-- BOOTSTRAP.MIN JS -->
    <script src="@Url.Content("~/plugins/bootstrap/js/bootstrap.min.js")"></script><!-- BOOTSTRAP.MIN JS -->
    <script src="@Url.Content("~/plugins/bootstrap-select/bootstrap-select.min.js")"></script><!-- FORM JS -->
    <script src="@Url.Content("~/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js")"></script><!-- FORM JS -->
    <script src="@Url.Content("~/plugins/magnific-popup/magnific-popup.js")"></script><!-- MAGNIFIC POPUP JS -->
    <script src="@Url.Content("~/plugins/counter/waypoints.js")"></script><!-- WAYPOINTS JS -->
    <script src="@Url.Content("~/plugins/counter/counterup.min.js")"></script><!-- COUNTERUP JS -->
    <script src="@Url.Content("~/plugins/imagesloaded/imagesloaded.js")"></script><!-- IMAGESLOADED -->
    <script src="@Url.Content("~/plugins/masonry/masonry-3.1.4.js")"></script><!-- MASONRY -->
    <script src="@Url.Content("~/plugins/masonry/masonry.filter.js")"></script><!-- MASONRY -->
    <script src="@Url.Content("~/plugins/owl-carousel/owl.carousel.js")"></script><!-- OWL SLIDER -->
    <script src="@Url.Content("~/js/custom.js")"></script><!-- CUSTOM FUCTIONS  -->
    <script src="@Url.Content("~/js/dz.carousel.js")"></script><!-- SORTCODE FUCTIONS  -->
    <script src="@Url.Content("~/js/dz.ajax.js")"></script><!-- CONTACT JS  -->
    <!-- REVOLUTION JS FILES -->
    <script src="@Url.Content("~/plugins/revolution/revolution/js/jquery.themepunch.tools.min.js")"></script>
    <script src="@Url.Content("~/plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js")"></script>
    <!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="@Url.Content("~/plugins/revolution/revolution/js/extensions/revolution.extension.actions.min.js")"></script>
    <script src="@Url.Content("~/plugins/revolution/revolution/js/extensions/revolution.extension.carousel.min.js")"></script>
    <script src="@Url.Content("~/plugins/revolution/revolution/js/extensions/revolution.extension.kenburn.min.js")"></script>
    <script src="@Url.Content("~/plugins/revolution/revolution/js/extensions/revolution.extension.layeranimation.min.js")"></script>
    <script src="@Url.Content("~/plugins/revolution/revolution/js/extensions/revolution.extension.migration.min.js")"></script>
    <script src="@Url.Content("~/plugins/revolution/revolution/js/extensions/revolution.extension.navigation.min.js")"></script>
    <script src="@Url.Content("~/plugins/revolution/revolution/js/extensions/revolution.extension.parallax.min.js")"></script>
    <script src="@Url.Content("~/plugins/revolution/revolution/js/extensions/revolution.extension.slideanims.min.js")"></script>
    <script src="@Url.Content("~/plugins/revolution/revolution/js/extensions/revolution.extension.video.min.js")"></script>
    <script src="@Url.Content("~/js/rev.slider.js")"></script>

    <script>
        jQuery(document).ready(function () {
            'use strict';
            dz_rev_slider_1();
        });	/*ready*/
    </script>
</body>
</html>
