﻿@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      version="XHTML+RDFa 1.0"
      xmlns:og="http://ogp.me/ns#"
      xml:lang="en">
<!--
    Smart developers always View Source.

    This application was built using Adobe Flex, an open source framework
    for building rich Internet applications that get delivered via the
    Flash Player or to desktops via Adobe AIR.

    Learn more about Flex at http://flex.org
    // -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Dont Bully Wooly_Book</title>
    <meta name="Keywords" content="" />
    <meta name="Description" content="Dont Bully Wooly_Book" />
    <meta name="Generator" content="Flip PDF Professional 2.4.9.26 at http://www.flipbuilder.com" />
    <meta name="medium" content="video" />

    <meta property="og:image" content="files/shot.png" />
    <meta property="og:title" content="Dont Bully Wooly_Book" />
    <meta property="og:description" content="Dont Bully Wooly_Book" />
    <meta property="og:video" content="book.swf" />
    <meta property="og:video:height" content="300" />
    <meta property="og:video:width" content="420" />
    <meta property="og:video:type" content="application/x-shockwave-flash" />

    <meta name="video_height" content="300" />
    <meta name="video_width" content="420" />
    <meta name="video_type" content="application/x-shockwave-flash" />
    <meta name="og:image" content="files/shot.png" />

    <link rel="image_src" href="files/shot.png" />
    <link rel="apple-touch-icon" href="files/thumb/1.jpg" />
    <!-- Include CSS to eliminate any default margins/padding and set the height of the html element and
           the body element to 100%, because Firefox, or any Gecko based browser, interprets percentage as
        the percentage of the height of its parent container, which has to be set explicitly.  Initially,
        don't display flashContent div so it won't show if JavaScript disabled.
      -->

    <style type="text/css" media="screen">
        /*<![CDATA[*/
        html,
        body {
            height: 100%;
            margin: 0px;
            overflow: hidden;
        }

        body {
            margin: 0;
            padding: 0;
            overflow: auto;
            text-align: center;
            background-color: #ffffff;
        }

        #flashContent {
            display: none;
        }
        /*]]>*/
    </style>
    <script type="text/javascript" src="js/swfobject.js"></script>
    <script type="text/javascript" src="js/fbscript.js"></script>

</head>
<body>
    <!-- SWFObject's dynamic embed method replaces this alternative HTML content with Flash content when enough
        JavaScript and Flash plug-in support is available. The div is initially hidden so that it doesn't show
        when JavaScript is disabled.
      -->

    <div id="flashContent">
        <p>
            To view this page ensure that Adobe Flash Player version 10.0.0
            or greater is installed.
        </p>
        Besides, it's possible to <a href='./files/basic-html/index.html'>view a simplified version of the flippdf book on any device</a>,
        or you can view flippdf <a href='mobile/index.html'>mobile version</a>
        <script>
            function showUserAgent() {
                var str = navigator.userAgent;
                var p = document.createElement("p");
                p.innerHTML = str;
                p.className = "gray";
                document.getElementById("flashContent").appendChild(p);
            }

            window.setTimeout(showUserAgent, 200);
        </script>
    </div>
    <noscript>
        <div>
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="100%" height="100%" id="FlipBookBuilder">
                <param name="movie" value="book.swf" />
                <param name="quality" value="high" />
                <param name="bgcolor" value="#ffffff" />
                <param name="allowScriptAccess" value="always" />
                <param name="allowFullScreen" value="true" />
                <param name="allowFullScreenInteractive" value="true" />
                <!--[if !IE]>-->
                <object type="application/x-shockwave-flash" data="book.swf" width="100%" height="100%">
                    <param name="quality" value="high" />
                    <param name="bgcolor" value="#ffffff" />
                    <param name="allowScriptAccess" value="always" />
                    <param name="allowFullScreen" value="true" />
                    <param name="allowFullScreenInteractive" value="true" />
                    <param name="wmode" value="transparent" />
                    <!--<![endif]--><!--[if gte IE 6]>-->
                    <p>
                        Either scripts and active content are not permitted to run or
                        Adobe Flash Player version 10.0.0 or greater is not installed.
                    </p>
                    <!--<![endif]-->
                    <a href="http://www.adobe.com/go/getflashplayer">Get Adobe Flash Player</a> <br /> <br />
                    Besides, it's possible to <a href='./files/basic-html/index.html'>view a simplified version of the flippdf book on any device</a>,
                    or you can view flippdf <a href='mobile/index.html'>mobile version</a>
                    <!--[if !IE]>-->
                </object> <!--<![endif]-->
            </object>
        </div>
    </noscript>
    <script type="text/javascript" src="@Url.Content(" ~/BullyWooly/js/ActionHtmlWindow.js")"></script>
    <script type="text/javascript" src="@Url.Content(" ~/BullyWooly/js/fbendscript.js")"></script>

    <noscript><div><hr /><ul><li><a href="@Url.Content(" ~/BullyWooly/files/basic-html/index.html")">Pages</a></li></ul><hr style="width:80%" /></div></noscript>
</body>
</html>


<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="monitor-signature" content="monitor:player:html5">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <meta name="Keywords" content="" />
    <meta name="Description" content="Microsoft Word - 3946-SRO-369-Finance-15 December 2015_10739-10753_.docx" />
    <meta name="Generator" content="Flip PDF 4.4.2  at http://www.flipbuilder.com" />
    @*
    <link rel="image_src" href="~/BookFiles/BullyWooly/files/shot.png">
    <link rel="shortcut icon" href="~/BookFiles/BullyWooly/files/thumb/1.jpg" />
    <link rel="apple-touch-icon" href="~/BookFiles/BullyWooly/files/thumb/1.jpg" />
    <meta name="og:image" content="~/BookFiles/BullyWooly/files/shot.png">
    <meta property="og:image" content="~/BookFiles/BullyWooly/files/shot.png">*@
    <title>Don't Bully Wooly</title>

    <link rel="stylesheet" href="@Url.Content(" ~/BookFiles/BullyWooly/mobile/style/style.css")" />
    <link rel="stylesheet" href="@Url.Content(" ~/BookFiles/BullyWooly/mobile/style/player.css")" />
    <link rel="stylesheet" href="@Url.Content(" ~/BookFiles/BullyWooly/mobile/style/phoneTemplate.css")" />

    <script src="@Url.Content(" ~/BookFiles/BullyWooly/mobile/javascript/jquery-1.9.1.min.js")"></script>

    <script src="@Url.Content(" ~/BookFiles/BullyWooly/mobile/javascript/config.js")"></script>

</head>
<body>
    <script src="@Url.Content(" ~/BookFiles/BullyWooly/mobile/javascript/bookmark_config.js")"></script>
    <script src="@Url.Content(" ~/BookFiles/BullyWooly/mobile/javascript/LoadingJS.js")"></script>

    <script src="@Url.Content(" ~/BookFiles/BullyWooly/mobile/javascript/main.js")"></script>

    <link rel="stylesheet" href="@Url.Content(" ~/BookFiles/BullyWooly/mobile/style/template.css")" />
    <script type="text/javascript">


        var sendvisitinfo = function (type, page) { };
    </script>




</body>
</html>-->
