﻿
@{
    ViewBag.Title = "Error404";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="section-content">
    <div class="row">
        <div class="col-md-12">
            <div class="page-notfound text-center">
                <form method="post">
                    <strong>4<i class="fa fa-frown-o text-primary"></i>4</strong>
                    <h5 class="m-b20 text-uppercase">Page not found</h5>
                    <a href="#" class="site-button "><span>Go to home</span></a>
                </form>
            </div>
        </div>
    </div>
</div>

