#spr1_6d19989,#spr2_6d19989 {clip:rect(0px,960px,540px,0px);}#spr3_6d19989 {width:956.962px; height:540px; overflow:hidden;}#txt0_6d19989 {font-family:fnt4; font-size:88px; line-height:101px; font-weight:bold; color:#ffffff;}