#spr1_6ce1f37,#spr2_6ce1f37 {clip:rect(0px,960px,540px,0px);}#spr3_6ce1f37 {width:978.35px; height:540px; overflow:hidden;}#svg0_6ce1f37,#spr5_6ce1f37 {display:none;}#txt0_6ce1f37,#txt1_6ce1f37,#txt2_6ce1f37 {font-family:fnt4; font-size:48px; line-height:55px; font-weight:bold; color:#b4c7e7;}