#spr1_6ca8259,#spr2_6ca8259 {clip:rect(0px,960px,540px,0px);}#spr3_6ca8259 {width:978.35px; height:540px; overflow:hidden;}#svg0_6ca8259,#spr5_6ca8259 {display:none;}#txt0_6ca8259,#txt1_6ca8259 {font-family:fnt4; font-size:54px; line-height:62px; font-weight:bold; color:#b4c7e7;}