#spr1_6cfa124,#spr2_6cfa124 {clip:rect(0px,960px,540px,0px);}#spr3_6cfa124 {width:978.35px; height:540px; overflow:hidden;}#svg0_6cfa124,#spr5_6cfa124 {display:none;}#txt0_6cfa124,#txt1_6cfa124,#txt2_6cfa124 {font-family:fnt4; font-size:48px; line-height:55px; font-weight:bold; color:#b4c7e7;}