﻿@model IEnumerable<WebApplication2.Models.CartItemModels>
@{
    ViewBag.Title = "MyOrder";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";

}

<div class="section-full bg-white content-inner">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr style="font-size:20px;">
                            <th scope="col">#</th>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>

                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody style="font-size:18px;">
                        @{int i = 0;}
                        @foreach (var item in Model)
                        {
                            i = i + 1;
                            <tr>
                                <td class="v-align-m">@i  </td>
                                <td><img src="../images/product/@Html.Raw(item.ProductImage)" style="max-height:30px;" height="30px;" /></td>
                                <td class="v-align-m">@item.ProductName</td>
                                <td class="v-align-m">@item.ProductPrice</td>
                                <td class="v-align-m" style="display:none;">@item.ProductId</td>
                                <td><a href='@Url.Action("Remove","Cart", new { id = item.ProductId })'><i class="fa fa-remove"></i></a></td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div>
                    <a href="@Url.Action("Index","Products")" class="btn btn-lg btn-success">Continue Shopping</a>
                    <a href="@Url.Action("CheckoutFromCart","Products")" class="btn btn-lg btn-success">Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>