﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<div class="section-full bg-white content-inner">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-2 col-lg-2">

                </div>
                <div class="col-md-8 col-lg-8">
                    <div id="divQuestionGroup0" class="shadow-lg p-3 mb-5 bg-white rounded" style="display:block;">
                        <div id="cardBody0" class="" style="margin:20px;">
                            <p><strong>Full name of CE Provider:</strong> Lana Grinev, LCSW-R</p>
                            <p><strong>Program name:</strong> “The Recognition, Diagnosis and Treatment of Eating Disorders In the Russian Community.”</p>
                            <p><strong>Date(s) program was completed:</strong> @DateTime.Now.ToShortDateString();</p>
                            <p><strong>Name of participant (optional):</strong> Abdur Rahim</p>

                            <strong>Instructions:</strong>
                            <p style="font-size:14px;">
                                Answer the questions below to the best of your ability to evaluate the program you completed. Assign a number grade using a scale from 1 to 5, with 1 being the lowest and 5 the highest. Circle your chosen response. Provide additional feedback in the comments section below on program strengths and areas to assist with program improvements.
                            </p>

                            <button type="button" id="btnNext0"
                                    class="btn btn-success btn-lg"
                                    style="float:right;margin-right:20px;">
                                <i class="fa fa-arrow-right"></i>  Next
                            </button>
                            <br /><br />
                        </div>
                    </div>
                    <div id="divQuestionGroup1" class="shadow-lg p-3 mb-5 bg-white rounded" style="display:none;">
                        <div id="cardBody1" class="" style="margin:20px;">
                            <h1>Effectiveness of Instructor, course organization</h1>
                            <p class="text-success"><strong>1. Was the instructor clear and understandable?<br /></strong></p>
                            <p>
                                <div id="Sp1q1" class='rating-stars'>
                                    <ul id='stars' class="list-inline">
                                        <li class='star' title='Poor' data-value='1'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Fair' data-value='2'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Good' data-value='3'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Excellent' data-value='4'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='WOW!!!' data-value='5'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                            <p class="text-success"><strong>2. Was the video webinar program material accurate, relevant, and did it contribute to the achievement of the learning objectives?<br /></strong></p>
                            <p>
                                <div id="Sp1q2" class='rating-stars'>
                                    <ul id='stars' class="list-inline">
                                        <li class='star' title='Poor' data-value='1'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Fair' data-value='2'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Good' data-value='3'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Excellent' data-value='4'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='WOW!!!' data-value='5'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                            <p class="text-success"><strong>3. Were you able to pace yourself well in order to learn the material?<br /></strong></p>
                            <p>
                                <div id="Sp1q3" class='rating-stars'>
                                    <ul id='stars' class="list-inline">
                                        <li class='star' title='Poor' data-value='1'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Fair' data-value='2'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Good' data-value='3'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Excellent' data-value='4'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='WOW!!!' data-value='5'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                            <p class="text-success"><strong>4. Was the course structure conducive to effective learning?<br /></strong></p>
                            <p>
                                <div id="Sp1q4" class='rating-stars'>
                                    <ul id='stars' class="list-inline">
                                        <li class='star' title='Poor' data-value='1'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Fair' data-value='2'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Good' data-value='3'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Excellent' data-value='4'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='WOW!!!' data-value='5'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                            <p class="text-success"><strong>5. Was the audio portion effective?<br /></strong></p>
                            <p>
                                <div id="Sp1q5" class='rating-stars'>
                                    <ul id='stars' class="list-inline">
                                        <li class='star' title='Poor' data-value='1'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Fair' data-value='2'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Good' data-value='3'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Excellent' data-value='4'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='WOW!!!' data-value='5'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                            <p class="text-success"><strong>6. Was the instructor knowledgeable and effective?<br /></strong></p>
                            <p>
                                <div id="Sp1q6" class='rating-stars'>
                                    <ul id='stars' class="list-inline">
                                        <li class='star' title='Poor' data-value='1'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Fair' data-value='2'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Good' data-value='3'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Excellent' data-value='4'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='WOW!!!' data-value='5'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                            <p class="text-success"><strong>7. Was the organization of the webinar effective and educational?<br /></strong></p>
                            <p>
                                <div id="Sp1q7" class='rating-stars'>
                                    <ul id='stars' class="list-inline">
                                        <li class='star' title='Poor' data-value='1'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Fair' data-value='2'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Good' data-value='3'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Excellent' data-value='4'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='WOW!!!' data-value='5'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                            <p class="text-success"><strong>8. Was the course easy to register for and technically simple to follow?<br /></strong></p>
                            <p>
                                <div id="Sp1q8" class='rating-stars'>
                                    <ul id='stars' class="list-inline">
                                        <li class='star' title='Poor' data-value='1'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Fair' data-value='2'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Good' data-value='3'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Excellent' data-value='4'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='WOW!!!' data-value='5'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                            <p style="float:right;margin-right:20px;">
                                <button type="button" id="btnBack0"
                                        class="btn btn-success btn-lg">
                                    <i class="fa fa-arrow-left"></i>  Back
                                </button>
                                <button type="button" id="btnNext1"
                                        class="btn btn-success btn-lg">
                                    <i class="fa fa-arrow-right"></i>  Next
                                </button>
                            </p>
                            <br /><br />
                        </div>
                    </div>

                    <div id="divQuestionGroup2" class="shadow-lg p-3 mb-5 bg-white rounded" style="display:none;">
                        <div id="cardBody2" class="" style="margin:20px;">
                            <h1>Learning objectives</h1>
                            <p class="text-success"><strong>1. Did the course significantly expand your knowledge of eating disorders and the Russian community?<br /></strong></p>
                            <p>
                                <div id="Sp2q1" class='rating-stars'>
                                    <ul id='stars' class="list-inline">
                                        <li class='star' title='Poor' data-value='1'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Fair' data-value='2'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Good' data-value='3'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Excellent' data-value='4'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='WOW!!!' data-value='5'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                            <p class="text-success"><strong>2. Were the identification and assessment of eating disorders made clear?<br /></strong></p>
                            <p>
                                <div id="Sp2q2" class='rating-stars'>
                                    <ul id='stars' class="list-inline">
                                        <li class='star' title='Poor' data-value='1'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Fair' data-value='2'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Good' data-value='3'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Excellent' data-value='4'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='WOW!!!' data-value='5'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                            <p class="text-success"><strong>3. Are you now able to Demonstrate Understanding of the Development and Causative Factors/Risks Related to Eating Disorders?<br /></strong></p>
                            <p>
                                <div id="Sp2q3" class='rating-stars'>
                                    <ul id='stars' class="list-inline">
                                        <li class='star' title='Poor' data-value='1'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Fair' data-value='2'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Good' data-value='3'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Excellent' data-value='4'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='WOW!!!' data-value='5'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                            <p class="text-success"><strong>4. Are you now able to Describe Health Risks Related to Eating Disorders?<br /></strong></p>
                            <p>
                                <div id="Sp2q4" class='rating-stars'>
                                    <ul id='stars' class="list-inline">
                                        <li class='star' title='Poor' data-value='1'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Fair' data-value='2'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Good' data-value='3'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Excellent' data-value='4'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='WOW!!!' data-value='5'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                            <p class="text-success"><strong>5. Can you now construct Treatment Plans with Approaches Learned?<br /></strong></p>
                            <p>
                                <div id="Sp2q5" class='rating-stars'>
                                    <ul id='stars' class="list-inline">
                                        <li class='star' title='Poor' data-value='1'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Fair' data-value='2'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Good' data-value='3'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Excellent' data-value='4'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='WOW!!!' data-value='5'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                            <p class="text-success"><strong>6. Can you now Describe Best Treatment Strategies for various Eating Disorder Clients?<br /></strong></p>
                            <p>
                                <div id="Sp2q6" class='rating-stars'>
                                    <ul id='stars' class="list-inline">
                                        <li class='star' title='Poor' data-value='1'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Fair' data-value='2'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Good' data-value='3'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Excellent' data-value='4'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='WOW!!!' data-value='5'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                            <p style="float:right;margin-right:20px;">
                                <button type="button" id="btnBack1"
                                        class="btn btn-success btn-lg">
                                    <i class="fa fa-arrow-left"></i>  Back
                                </button>
                                <button type="button" id="btnNext2"
                                        class="btn btn-success btn-lg">
                                    <i class="fa fa-arrow-right"></i>  Next
                                </button>
                            </p>
                            <br /><br />
                        </div>
                    </div>

                    <div id="divQuestionGroup3" class="shadow-lg p-3 mb-5 bg-white rounded" style="display:none;">
                        <div id="cardBody3" class="" style="margin:20px;">
                            <h1>Learning objectives</h1>
                            <p class="text-success"><strong>7. Was the approach to guided nutritional coaching described?<br /></strong></p>
                            <p>
                                <div id="Sp2q7" class='rating-stars'>
                                    <ul id='stars' class="list-inline">
                                        <li class='star' title='Poor' data-value='1'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Fair' data-value='2'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Good' data-value='3'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Excellent' data-value='4'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='WOW!!!' data-value='5'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                            <p class="text-success"><strong>8. Can you better describe the uses of stress reduction, structured exercise and holistic treatments in the treatment of eating disorders?<br /></strong></p>
                            <p>
                                <div id="Sp2q8" class='rating-stars'>
                                    <ul id='stars' class="list-inline">
                                        <li class='star' title='Poor' data-value='1'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Fair' data-value='2'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Good' data-value='3'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Excellent' data-value='4'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='WOW!!!' data-value='5'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                            <p class="text-success"><strong>9. Are you able to describe the use of CBT in the treatment of eating disorders?<br /></strong></p>
                            <p>
                                <div id="Sp2q9" class='rating-stars'>
                                    <ul id='stars' class="list-inline">
                                        <li class='star' title='Poor' data-value='1'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Fair' data-value='2'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Good' data-value='3'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Excellent' data-value='4'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='WOW!!!' data-value='5'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                            <p class="text-success"><strong>10. Are you able to describe the use of DBT in the treatment of eating disorders?<br /></strong></p>
                            <p>
                                <div id="Sp2q10" class='rating-stars'>
                                    <ul id='stars' class="list-inline">
                                        <li class='star' title='Poor' data-value='1'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Fair' data-value='2'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Good' data-value='3'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Excellent' data-value='4'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='WOW!!!' data-value='5'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                            <p class="text-success"><strong>11. Do you have a better understanding of The Use of Spirituality in Treatment?<br /></strong></p>
                            <p>
                                <div id="Sp2q11" class='rating-stars'>
                                    <ul id='stars' class="list-inline">
                                        <li class='star' title='Poor' data-value='1'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Fair' data-value='2'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Good' data-value='3'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Excellent' data-value='4'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='WOW!!!' data-value='5'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                            <p class="text-success"><strong>12. Do you have a clearer grasp of Alternative Treatments such as Mindfulness Techniques, Chakras, Meditation, Yoga and Mind/body Techniques?<br /></strong></p>
                            <p>
                                <div id="Sp2q12" class='rating-stars'>
                                    <ul id='stars' class="list-inline">
                                        <li class='star' title='Poor' data-value='1'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Fair' data-value='2'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Good' data-value='3'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Excellent' data-value='4'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='WOW!!!' data-value='5'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                            <p style="float:right;margin-right:20px;">
                                <button type="button" id="btnBack2"
                                        class="btn btn-success btn-lg">
                                    <i class="fa fa-arrow-left"></i>  Back
                                </button>
                                <button type="button" id="btnNext3"
                                        class="btn btn-success btn-lg">
                                    <i class="fa fa-arrow-right"></i>  Next
                                </button>
                            </p>

                            <br /><br />
                        </div>
                    </div>

                    <div id="divQuestionGroup4" class="shadow-lg p-3 mb-5 bg-white rounded" style="display:none;">
                        <div id="cardBody4" class="" style="margin:20px;">
                            <h1>Learning objectives</h1>
                            <p class="text-success"><strong>13. Were the Prevalence and Development of Eating Disorders in the Russian Community discussed?<br /></strong></p>
                            <p>
                                <div id="Sp2q13" class='rating-stars'>
                                    <ul id='stars' class="list-inline">
                                        <li class='star' title='Poor' data-value='1'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Fair' data-value='2'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Good' data-value='3'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Excellent' data-value='4'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='WOW!!!' data-value='5'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                            <p class="text-success"><strong>14. Were various Societal taboos affecting the recognition of eating disorders in Russian Community described?<br /></strong></p>
                            <p>
                                <div <div id="Sp2q14" class='rating-stars'>
                                    <ul id='stars' class="list-inline">
                                        <li class='star' title='Poor' data-value='1'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Fair' data-value='2'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Good' data-value='3'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Excellent' data-value='4'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='WOW!!!' data-value='5'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                            <p class="text-success"><strong>15. Were the approaches to treatment of eating disorders in the Russian Community discussed?<br /></strong></p>
                            <p>
                                <div <div id="Sp2q15" class='rating-stars'>
                                    <ul id='stars' class="list-inline">
                                        <li class='star' title='Poor' data-value='1'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Fair' data-value='2'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Good' data-value='3'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Excellent' data-value='4'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='WOW!!!' data-value='5'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                            <p class="text-success"><strong>16. Were case studies presented both informative and clarifying?<br /></strong></p>
                            <p>
                                <div <div id="Sp2q16" class='rating-stars'>
                                    <ul id='stars' class="list-inline">
                                        <li class='star' title='Poor' data-value='1'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Fair' data-value='2'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Good' data-value='3'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Excellent' data-value='4'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='WOW!!!' data-value='5'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                            <p class="text-success"><strong>17. Were the tools and questionnaires presented of significant value?<br /></strong></p>
                            <p>
                                <div <div id="Sp2q17" class='rating-stars'>
                                    <ul id='stars' class="list-inline">
                                        <li class='star' title='Poor' data-value='1'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Fair' data-value='2'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Good' data-value='3'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Excellent' data-value='4'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='WOW!!!' data-value='5'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                            <p class="text-success"><strong>18. Any further feedback is welcome:<br /></strong></p>
                            <p>
                                <div <div id="Sp2q18" class='rating-stars'>
                                    <ul id='stars' class="list-inline">
                                        <li class='star' title='Poor' data-value='1'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Fair' data-value='2'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Good' data-value='3'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='Excellent' data-value='4'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                        <li class='star' title='WOW!!!' data-value='5'>
                                            <i class='fa fa-star text-yello'></i>
                                        </li>
                                    </ul>
                                </div>
                            </p>
                            <p style="float:right;margin-right:20px;">
                                <button type="button" id="btnBack3"
                                        class="btn btn-success btn-lg">
                                    <i class="fa fa-arrow-left"></i>  Back
                                </button>
                                <button type="button" id="btnFinish"
                                        class="btn btn-success btn-lg">
                                    <i class="fa fa-arrow-right"></i>  Finish
                                </button>
                            </p>

                            <br /><br />
                        </div>
                    </div>

                    <div id="divQuestionGroup5" class="shadow-lg p-3 mb-5 bg-white rounded" style="display:none;">
                        <div id="cardBody5" class="" style="margin:20px;">
                            <p class="text-success" style="font-size:24px;text-align:center;">You have successfully completed the evaluation!</p>
                            <p class="center center-block" style="text-align:center;">
                                <a id="btnGetCertificate" href="@Url.Action("Certificate", "Evaluation")"
                                   class="btn btn-success btn-lg center-block white">
                                    <i class="fa fa-certificate"></i>  Download Certificate
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2">

                </div>

            </div>
        </div>
    </div>
</div>

<div style="display:none;">
    <label id="Lp1q1"></label>
    <label id="Lp1q2"></label>
    <label id="Lp1q3"></label>
    <label id="Lp1q4"></label>
    <label id="Lp1q5"></label>
    <label id="Lp1q6"></label>
    <label id="Lp1q7"></label>
    <label id="Lp1q8"></label>
    <label id="Lp2q1"></label>
    <label id="Lp2q2"></label>
    <label id="Lp2q3"></label>
    <label id="Lp2q4"></label>
    <label id="Lp2q5"></label>
    <label id="Lp2q6"></label>
    <label id="Lp2q7"></label>
    <label id="Lp2q8"></label>
    <label id="Lp2q9"></label>
    <label id="Lp2q11"></label>
    <label id="Lp2q12"></label>
    <label id="Lp2q13"></label>
    <label id="Lp2q14"></label>
    <label id="Lp2q15"></label>
    <label id="Lp2q16"></label>
    <label id="Lp2q17"></label>
    <label id="Lp2q18"></label>
</div>



<script type="text/javascript">
    $(document).ready(function () {

        /* 1. Visualizing things on Hover - See next part for action on click */
        $('#stars li').on('mouseover', function () {
            var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on

            // Now highlight all the stars that's not after the current hovered star
            $(this).parent().children('li.star').each(function (e) {
                if (e < onStar) {
                    $(this).addClass('hover');
                }
                else {
                    $(this).removeClass('hover');
                }
            });

        }).on('mouseout', function () {
            $(this).parent().children('li.star').each(function (e) {
                $(this).removeClass('hover');
            });
        });


        /* 2. Action to perform on click */
        $('#stars li').on('click', function () {
            var onStar = parseInt($(this).data('value'), 10); // The star currently selected
            var stars = $(this).parent().children('li.star');
            var id = $(this).closest("div").attr("id");

            for (i = 0; i < stars.length; i++) {
                $(stars[i]).removeClass('selected');
            }

            for (i = 0; i < onStar; i++) {
                $(stars[i]).addClass('selected');
            }

            // JUST RESPONSE (Not needed)
            var ratingValue = parseInt($('#stars li.selected').last().data('value'), 10);
            var msg = "";

            //setQuestionRatingValue(id, ratingValue);

            if (ratingValue > 1) {
                msg = "Thanks! You rated this " + ratingValue + " stars." + id;
            }
            else {
                msg = "We will improve ourselves. You rated this " + ratingValue + " stars.";
            }
            responseMessage(msg);

        });
    });

    setQuestionRatingValue(id, rating)
    {

            if (id == "Sp1q1") {
                $("Lp1q1").text(rating);
            }

            if (id == "Sp1q2") {
                $("Lp1q2").val(rating);
            }
            if (id == "Sp1q3") {
                $("Lp1q3").val(rating);
            }
            if (id == "Sp1q4") {
                $("Lp1q4").val(rating);
            }
            if (id == "Sp1q5") {
                $("Lp1q5").val(rating);
            }
            if (id == "Sp1q6") {
                $("Lp1q6").val(rating);
            }
            if (id == "Sp1q7") {
                $("Lp1q7").val(rating);
            }
            if (id == "Sp1q8") {
                $("Lp1q8").val(rating);
            }
            if (id == "Sp2q1") {
                $("Lp2q1").val(rating);
            }
            if (id == "Sp2q2") {
                $("Lp2q2").val(rating);
            }
            if (id == "Sp2q3") {
                $("Lp2q3").val(rating);
            }
            if (id == "Sp2q4") {
                $("Lp2q5").val(rating);
            }
            if (id == "Sp2q5") {
                $("Lp2q5").val(rating);
            }
            if (id == "Sp2q6") {
                $("Lp2q6").val(rating);
            }
            if (id == "Sp2q7") {
                $("Lp2q7").val(rating);
            }
            if (id == "Sp2q8") {
                $("Lp2q8").val(rating);
            }
            if (id == "Sp2q9") {
                $("Lp2q9").val(rating);
            }
            if (id == "Sp2q10") {
                $("Lp2q10").val(rating);
            }
            if (id == "Sp2q11") {
                $("Lp2q11").val(rating);
            }
            if (id == "Sp2q12") {
                $("Lp2q11").val(rating);
            }
            if (id == "Sp2q13") {
                $("Lp2q13").val(rating);
            }
            if (id == "Sp2q14") {
                $("Lp2q14").val(rating);
            }
            //if (id == "Sp2q3") {
            //    $("Lp2q14").val(rating);
            //}
            if (id == "Sp2q15") {
                $("Lp2q15").val(rating);
            }
            if (id == "Sp2q16") {
                $("Lp2q16").val(rating);
            }
            if (id == "Sp2q17") {
                $("Lp2q17").val(rating);
        }

        if (id == "Sp2q18") {
            $("Lp2q18").val(rating);
        }
    }

    function responseMessage(msg) {
        $('.success-box').fadeIn(200);
        $('.success-box div.text-message').html("<span>" + msg + "</span>");
    }
</script>

<style type="text/css">
    body {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        color: #555;
        /*max-width: 680px;*/
        margin: 0 auto;
        padding: 0 20px;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        *:before, *:after {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

    .clearfix {
        clear: both;
    }

    .text-center {
        text-align: center;
    }

    a {
        color: tomato;
        text-decoration: none;
    }

        a:hover {
            color: #2196f3;
        }

    pre {
        display: block;
        padding: 9.5px;
        margin: 0 0 10px;
        font-size: 13px;
        line-height: 1.42857143;
        color: #333;
        word-break: break-all;
        word-wrap: break-word;
        background-color: #F5F5F5;
        border: 1px solid #CCC;
        border-radius: 4px;
    }

    .header {
        padding: 20px 0;
        position: relative;
        margin-bottom: 10px;
    }

        .header:after {
            content: "";
            display: block;
            height: 1px;
            background: #eee;
            position: absolute;
            left: 30%;
            right: 30%;
        }

        .header h2 {
            font-size: 3em;
            font-weight: 300;
            margin-bottom: 0.2em;
        }

        .header p {
            font-size: 14px;
        }



    #a-footer {
        margin: 20px 0;
    }

    .new-react-version {
        padding: 20px 20px;
        border: 1px solid #eee;
        border-radius: 20px;
        box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
        text-align: center;
        font-size: 14px;
        line-height: 1.7;
    }

        .new-react-version .react-svg-logo {
            text-align: center;
            max-width: 60px;
            margin: 20px auto;
            margin-top: 0;
        }

    /* Rating Star Widgets Style */
    .rating-stars ul {
        list-style-type: none;
        padding: 0;
        -moz-user-select: none;
        -webkit-user-select: none;
    }

        .rating-stars ul > li.star {
            display: inline-block;
        }

            /* Idle State of the stars */
            .rating-stars ul > li.star > i.fa {
                font-size: 2.5em; /* Change the size of the stars */
                color: #ccc; /* Color on idle state */
            }

            /* Hover state of the stars */
            .rating-stars ul > li.star.hover > i.fa {
                color: #FFCC36;
            }

            /* Selected state of the stars */
            .rating-stars ul > li.star.selected > i.fa {
                color: #FF912C;
            }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Sp1q1").click(function () {
        });

        $("#btnNext0").click(function () {
            $("#divQuestionGroup1").show(1000);
            $("#divQuestionGroup0").hide();
            $("#divQuestionGroup2").hide();
            $("#divQuestionGroup3").hide();
            $("#divQuestionGroup4").hide();
            $("#divQuestionGroup5").hide();
        });

        $("#btnNext1").click(function () {
            $("#divQuestionGroup2").show(1000);
            $("#divQuestionGroup0").hide();
            $("#divQuestionGroup1").hide();
            $("#divQuestionGroup3").hide();
            $("#divQuestionGroup4").hide();
            $("#divQuestionGroup5").hide();
        });

        $("#btnNext2").click(function () {
            $("#divQuestionGroup3").show(1000);
            $("#divQuestionGroup0").hide();
            $("#divQuestionGroup1").hide();
            $("#divQuestionGroup2").hide();
            $("#divQuestionGroup4").hide();
            $("#divQuestionGroup5").hide();
        });

        $("#btnNext3").click(function () {
            $("#divQuestionGroup4").show(1000);
            $("#divQuestionGroup3").hide();
            $("#divQuestionGroup0").hide();
            $("#divQuestionGroup1").hide();
            $("#divQuestionGroup2").hide();
            $("#divQuestionGroup5").hide();
        });



        $("#btnBack0").click(function () {
            $("#divQuestionGroup0").show(1000);
            $("#divQuestionGroup1").hide();
            $("#divQuestionGroup2").hide();
            $("#divQuestionGroup3").hide();
            $("#divQuestionGroup4").hide();
            $("#divQuestionGroup5").hide();
        });

        $("#btnBack1").click(function () {
            $("#divQuestionGroup1").show(1000);
            $("#divQuestionGroup0").hide();
            $("#divQuestionGroup2").hide();
            $("#divQuestionGroup3").hide();
            $("#divQuestionGroup4").hide();
            $("#divQuestionGroup5").hide();
        });

        $("#btnBack2").click(function () {
            $("#divQuestionGroup2").show(1000);
            $("#divQuestionGroup0").hide();
            $("#divQuestionGroup1").hide();
            $("#divQuestionGroup3").hide();
            $("#divQuestionGroup4").hide();
            $("#divQuestionGroup5").hide();
        });

        $("#btnBack3").click(function () {
            $("#divQuestionGroup3").show(1000);
            $("#divQuestionGroup0").hide();
            $("#divQuestionGroup1").hide();
            $("#divQuestionGroup2").hide();
            $("#divQuestionGroup4").hide();
            $("#divQuestionGroup5").hide();
        });


        $("#btnFinish").click(function () {
            $("#divQuestionGroup5").show(1000);
            $("#divQuestionGroup0").hide();
            $("#divQuestionGroup1").hide();
            $("#divQuestionGroup2").hide();
            $("#divQuestionGroup3").hide();
            $("#divQuestionGroup4").hide();
        });
    });
</script>
