﻿@*@model List<WebApplication2.Models.Product>*@

@{
    ViewBag.Title = "MyProducts";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>MyProducts</h2>

<br />
<div class="section-full bg-white content-inner">
    <div class="container">
        <div class="section-content">

            <div class="row">
                <!-- inner page banner -->
                <div class="rdx-bnr-inr overlay-black-middle" style="background-image:url(images/background/bg4.jpg);">
                    <div class="container">
                        <div class="rdx-bnr-inr-entry">
                            <h1 class="text-white">Our Book's</h1>
                        </div>
                    </div>
                </div>
                <!-- inner page banner END -->
                <!-- Breadcrumb row -->
                @*<div class="row">
                        <div class="breadcrumb-row">
                            <div class="container">
                                <ul class="list-inline">
                                    <li><a href="#">Home</a></li>
                                    <li>Products</li>
                                </ul>
                            </div>
                        </div>
                    </div>*@
                <!-- Breadcrumb row END -->
                <!-- contact area -->
                <div class="content-area">
                    <!-- Product -->
                    <div class="container">
                        <div class="row">
                            @if (Model != null)
                            {
                                if (Model.Count > 0)
                                {
                                    for (int i = 0; i < Model.Count; i++)
                                    {

                                        <div class="col-lg-4 col-md-4 col-sm-6 m-b30">
                                            <div class="rdx-box p-a20 border-1 bg-gray">
                                                <div class="rdx-thum-bx rdx-img-overlay1 rdx-img-effect zoom">
                                                    <img src="images/product/pic1.jpg" alt="">
                                                    <div class="overlay-bx">
                                                        <div class="overlay-icon"> <a href="javascript:void(0)"> <i class="fa fa-cart-plus icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-search icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-heart icon-bx-xs"></i> </a> </div>
                                                    </div>
                                                </div>
                                                <div class="rdx-info p-t20 text-center">
                                                    <h4 class="rdx-title m-t0 m-b5 text-uppercase"><a href='@Url.Action("ProductDetails", "Products", new { id = Model[i].Id })'>@Model[i].ProductName</a></h4>
                                                    <h4 class="m-b0 font-weight-700 text-black">$@Model[i].ProductPrice </h4>
                                                    @*<a href="javascript:void(0)" class="site-button m-t15">Buy Now</a>*@

                                                    @Html.ActionLink("Details", "ProductDetails", "Products", new { id = Model[i].Id }, new { @class = "site-button m-t15" })
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="text-center text-danger">You have not purchased any item yet! </div>
                                }
                            }
                            else
                            {
                                <div class="text-center text-danger">You have not purchased any item yet! </div>
                            }
                        </div>
                    </div>
                    <!-- Product END -->
                </div>
            </div>
        </div>
    </div>
</div>